[2019-02-26 20:59] SubiHubi opened #3701 "Different background color due to file encoding chosen in Komodo Edit 11"
### Short Summary
Background color changes with the chosen file encoding of Komodo Edit.

### Steps to Reproduce
Open example file ASVspoof2019_baseline_CM.m.
(BTW, could be also a .py Python file).
Since I set globally any file encoding to my preferred UTF-8, it opens as UTF-8.
And Komodo Edit recognizes it as Matlab.

Problem, it changes my common background color.
Please see picture, background

[2019-02-26 22:11] NicolayHolz commented on #3699
I replied to an email, but got no response, so I am posting more here.
To reproduce and as these were my first steps in trying to use this editor:
Download to windows 7 pro 64bit... run installer, copy and paste the code and voila, indentation does not work.

<img width="626" alt="capture" src="https://user-images.githubusercontent.com/47983754/53450076-666b9300-39e9-11e9-905e-bbf627b9f8ad.PNG">

[2019-02-26 22:29] cgchoffman commented on #3701
This is a different bug, please file it separately.

[2019-02-26 22:31] cgchoffman commented on #3699
That's what you should do always, especially if you need to provide an attachment.

Please provide the file, not a screenshot.

[2019-02-26 23:55] SubiHubi commented on #3701
Hi Carey,
before filing a 2nd cause different bug, I want to wait a bit on the
outcome of the 1st one.

Cheers,

Am Di., 26. Feb. 2019 um 23:29 Uhr schrieb Carey Hoffman <
notifications@github.com>:

[2019-02-27 00:06] cgchoffman commented on #3701
@SubiHubi that's a great way to have a bug lost into the ether ;)  but up to you.  FYI, when you "reply" to a git notification it dumps the entier email body into your response.  It's better to open the ticket in your browser from the email.  Though they say it's supported, they do a very poor job of handling email replies to tickets.

[2019-02-27 02:02] trogne opened #3702 "python 3 file type and code intel"
### Short Summary
When associating ".py" files with file type "python 3", the code intel does not work well. The code intel suggestions appears too late.

Example :
### Expected results
[code]

### Actual results
[code]

### Platform Information

*Komodo Edit or IDE?*
IDE
*Komodo Version?*
11.1
*Operating System (and version)?*
Windows 10

[2019-02-27 05:12] ssigwart commented on #3700
It seems to me like `_extra_dirs_from_env` isn't what's including those files.  I did some testing and `extra_dirs` is empty.  It seems like `PythonImportsEvaluator` is called which calls `get_blob_imports` which eventually calls `find_importables_in_dir`.  I'm trying to read in `import_exclude_matches` in `find_importables_in_dir` to do the excludes, but so far, I'm only seeing the overall prefer

[2019-02-27 18:22] cgchoffman commented on #3702
Thanks for filing this with the repro steps @trogne.  I'm still not able to reproduce this, Python 2 and 3 both work fine.  You might benefit from a codeintel reset?

[2019-02-27 20:02] trogne commented on #3702
codeintel reset ?

I've tried by deleting all files in "C:\Users\patri\AppData\Local\ActiveState\KomodoIDE\11.1".

Is there another way to reset the codeintel ?

[2019-02-27 20:18] cgchoffman commented on #3702
What fixed it?  Deleting the codeintel3.db file?

[2019-02-27 20:25] trogne commented on #3702
I don't know.  It was working bad after deleting this and restart.  And today it works fine.  Sorry I have no idea what happened !

[2019-02-27 20:35] cgchoffman commented on #3702
It's gotta be load.  I'm not sure why you don't think it is but that's the only explanation I can think of unless you had altered the code intel trigger code to some how only ever trigger on the `xth` character.   The load could be caused by a very large project and not necessarily your computer resources being maxed out.  I'm gonna close this but if you find you're hitting it again and can identi

[2019-02-27 20:35] #3702 closed

[2019-02-28 00:13] cgchoffman commented on #3700
Hey that's fun that the Python side decided to be implemented in a different way.  I think you're right but i'm only basing that on the fact that I saw no sign of excludes occurring when I updated prefs.  @Naatan should project level excludes be occurring in Edit's Codeintel?  Maybe i'm misremembering and this was actually not done until Codeintel3.

[2019-02-28 02:43] ssigwart commented on #3591
Solved by #3651

[2019-02-28 02:43] #3591 closed

[2019-02-28 05:24] ssigwart commented on #3406
A simpler way to reproduce is to just create a new file, then save it.  I'm getting there on figuring out how solve this.

[2019-02-28 23:35] cgchoffman opened #3705 "Python3: No code intel completions for file object"
### Steps to Reproduce
[code]
### Expected results

Should get completions at the `<\>`

### Actual results

No completions provided

### Platform Information

IDE
11.1.1

### Additional Information

It works fine for Python2 but Python3 is broken

[2019-03-01 13:09] mickey263 commented on #3694
Thx for paying attention this issue.

[2019-03-01 14:44] babobski commented on #3353
Note, this is a serious issue when combined with publishing.
When I use the go to definition to go to a file, make some changes.
This will result in two files on the remote server, also you don't see you're changes as you're making the changes in a "other" file

[2019-03-01 16:20] cgchoffman commented on #3692
I had a hunch haha.  Reviewing...

[2019-03-01 18:41] #3692 closed

[2019-03-02 04:55] ssigwart opened #3706 "Breadcrumb Filter Triggers Find All and Mark All"
### Short Summary
If you type an "a" or "k" in the file breadcrumb filter, it triggers the last search.

### Steps to Reproduce
1.  Open a file.
2.  Click a breadcrumb.
3.  Type "a" or "k" in the filter box.

### Expected results
It just filters the file list.

### Actual results
Find All or Mark All is triggered.

### Platform Information
Komodo Edit 11.1.1
MacOS Mojave 10.14.2

### Additional In

[2019-03-03 01:12] ssigwart commented on #734
@cgchoffman, do you know if tabbing works anymore?  On MacOS, the only field I can focus on is the search field text.  If I hit tab, it takes me out of the find dialog.  If I add a text `<input>` to the find dialog, I can tab between those, but it seems `<button>`, `<checkbox>`, and `<menupopup>` can't.  However, I am able to manually set the focus via javascript to those elements.

[2019-03-03 03:16] ssigwart commented on #3706
I think the root problem is that access keys are not disabled when you aren't focused on the find window.  Disabling the access keys when not focused solves this, though I'm not clear why it's triggering the access key without Ctrl being held.  It also solves a similar issue with custom key bindings that conflict with access keys.  For example, Ctrl-P, Right Arrow opens my right pane, but if the f

[2019-03-03 11:35] JohnWSteel commented on #3566
Sorry to say this problem has returned  and seems to worse than it was previously though it did seem to settle down between July last year and the update to 11.1.1 which I did in December. Just to resume on the problem.

From a clean boot Komodo will run OK.

I can close and reopen Komodo without problems for a while, but it seems that after some time with either Komodo open or not running, any at

[2019-03-04 19:37] cgchoffman commented on #3327
aged out

[2019-03-04 19:37] #3327 closed

[2019-03-04 21:18] #3406 closed

[2019-03-04 21:24] cgchoffman commented on #3694
Can't tell if you're being sarcastic...but thank you!  Hope can get to working on a fix soon.

[2019-03-04 21:56] mickey263 commented on #3694
Sorry, it's probably a misunderstanding due to language.
I'm clearly not sarcastic. I'm very glad you care about this issue. I wait
to use this feature 😉

Greetings

Le lun. 4 mars 2019 à 22:24, Carey Hoffman <notifications@github.com> a
écrit :

[2019-03-04 22:12] cgchoffman commented on #3694
haha cool.  We can often get some sarcastic comments.  All good!

[2019-03-04 22:16] cgchoffman commented on #3566
Too attached images and files to a ticket you need to open the ticket in your brower then drag and drop them.  It's not possible to attach files to your email response to the ticket.  Do that @JohnWSteel ?

[2019-03-04 22:56] JohnWSteel commented on #3566
These are the attachments
![komodo after closing](https://user-images.githubusercontent.com/13707454/53768390-9b3b8680-3ed0-11e9-9305-05bb8a4e3c63.jpg)
[Komodo after first run pystderr.log](https://github.com/Komodo/KomodoEdit/files/2928528/Komodo.after.first.run.pystderr.log)
[Komodo after not responding.log](https://github.com/Komodo/KomodoEdit/files/2928529/Komodo.after.not.responding.log)
[Kom

[2019-03-05 04:01] ssigwart opened #3710 "PHP Include Handler Assumes Relative URLs"
### Short Summary
The following code only works for relative include paths or absolute paths.
https://github.com/Komodo/KomodoEdit/blob/3a6fd631da21003af89b9f9bb855d936c753411c/src/chrome/komodo/content/hyperlinks/filehandler.js#L220-L223

### Steps to Reproduce
Set up a PHP project with `www` and `includes` top level folders.  Add `www/index.php` which includes `require_once('MyClass.class.php');

[2019-03-05 08:07] mickey263 commented on #3694
Ok 😉 no problem.

Have a good day

Le lun. 4 mars 2019 à 23:12, Carey Hoffman <notifications@github.com> a
écrit :

[2019-03-05 18:16] cgchoffman opened #3711 "`_loadPatchLog` is broken in *util\patchtree.py*"
### Short Summary

It looks like that log file actually make the patching process way more robust. It'd be nice if it actually worked. Not sure how long it's been broken.  You don't hit an issue when you `patch` for but you immediately hit it if you run `unpatch`.

it's trying to use `imp` which breaks for some reason and I don't watch to fight with Python to figure out why.  Just do what all the

[2019-03-05 21:09] cgchoffman commented on #3711
DOH.  Was using an archived mozilla build taht was configured differently than the current moz build.  The import path was wrong.

[2019-03-05 21:09] #3711 closed

[2019-03-06 04:42] ssigwart commented on #3609
@cgchoffman, I think #3696 solved this.

[2019-03-06 05:02] ssigwart opened #3712 "HTML Continually Autocompletes </script>"
### Short Summary
HTML with script and CDATA results in autocomplete of `</script>`.

### Steps to Reproduce
Use this file and look at the autocomplete at the end.
[code]

### Expected results
`</body>` is autocompleted.

### Actual results
`</script>` is autocompleted.

### Platform Information
Komodo Edit 11.1.1
MacOS Mojave 10.14.2

### Additional Information
I traced this back to `koXMLTreeSer

[2019-03-06 18:34] cgchoffman opened #3713 "Too upper and to lower cmds don't run on multi selection"
### Steps to Reproduce

- Select mutliple words
- Code menu > Convert Selected Text > Make Upper

### Expected results

All selected strings to become upper case

### Actual results

This does not happen

[2019-03-07 05:00] ssigwart commented on #3712
This may be related to https://github.com/Komodo/KomodoEdit/commit/ef82719e55abb98e3b0a99c6a185de901ed6493b.

It seems like `text_chunks_from_lang` stops a chunk midway through a `<script>`, then starts a new chunk after the ending `</script>`.

[2019-03-07 09:48] babobski opened #3714 "input missing oninput attribute"
### Short Summary
In the auto completion for attributes on a input, is missing the oninput attribute.

### Platform Information
Komodo IDE, version 10.2.3

[2019-03-07 17:43] cgchoffman commented on #734
@ssigwart , i would not be surprised if Mojave broke this.  It's working on Windows and I can bet it's working on Linux.  I'll double check my Mac.

[2019-03-07 17:46] cgchoffman commented on #734
Oh no, nvm.  I'm not on Mojave and it's still broken.  Looks like there is a OSX specific bug here.

[2019-03-07 18:02] cgchoffman opened #3715 "Tabbing through Find "dialog" is broken on OSX"
### Steps to Reproduce

- Focus on find field and start tabbing through

### Expected results

- Should tab through all fields and buttons in order, Left-Top to Left-btm then Right-top to Right-btm.

### Actual results

Only jumps through text fields

### Platform Information

*Operating System (and version)?* OSX ONLY

[2019-03-07 18:02] cgchoffman commented on #734
@ssigwart https://github.com/Komodo/KomodoEdit/issues/3715

[2019-03-07 22:03] #3706 closed

[2019-03-07 22:53] ssigwart commented on #734
Thanks for checking.  Good to know it's OSX only.  I found a clue which I'll update on the new issue.

[2019-03-07 22:57] ssigwart commented on #3715
See https://robertnyman.com/2007/01/18/551/.  I think this is the default setting in OSX for `Keyboard > Shortcuts`:
![image](https://user-images.githubusercontent.com/1426848/53995220-657de400-4102-11e9-9385-ad0e2a229b7b.png)

Changing it to "All controls" makes it work.

[2019-03-07 23:15] ssigwart commented on #3715
[This might be the mozilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=424482) that enabled this setting.  @cgchoffman, perhaps that patch could be removed so it ignores that setting.  I'm not sure if that would be appropriate though.  I don't see why someone wouldn't want to be able to tab to all inputs, but OSX has a setting, so there must be some reason.

[2019-03-08 19:16] th3coop opened #3716 "Completions triggering on `;` for SCSS, possibly others"
### Short Summary

We fixed this in CSS but the fix didn't bubble up to SCSS.  I thought this was a setting in a subclass that all the styling markup langs used.

### Steps to Reproduce

Open a SCSS file and completions should not be triggered when a `;` is pressed.

[2019-03-08 20:37] Lunardog15 opened #3717 "save not working"
when trying to save I get
[code]
is there some type of fix I can do manually for the time being or is this a thing that has to be solved by reinstalling / updating
I am unable to update as I do not have admin permissions and would have to talk to our IT person

[2019-03-08 20:40] cgchoffman commented on #3717
@Lunardog15, please share your full logs, *Help > Troubleshooting > View Log File*.
Please also try in safe mode, *Help > Troubleshooting > Restart in Safe-Mode*

[2019-03-08 21:16] Lunardog15 commented on #3717
ok
[pystderr.log](https://github.com/Komodo/KomodoEdit/files/2947491/pystderr.log)

[2019-03-08 21:29] cgchoffman commented on #3717
@Lunardog15 that error is not in the logs your share.  Did you reproduce the issues before sending the logs?

When it does occur can you narrow down what changed in your work flow or about the file you're working on or anything else that could contribute to the issue?  Try to narrow this down a bit. Komodo 11.1.0 has been out for a while now and no one else is hitting this issue so can you think o

[2019-03-08 22:13] Lunardog15 commented on #3717
Sorry, I did in fact forget to reproduce the bug.
It seems to save normally the fist time, but the second time I save, it breaks. This is happening with HTML files.

[2019-03-08 22:50] cgchoffman commented on #3717
K, sounds like it's pretty easy to reproduce.  Could you reproduce it and resend your logs?  And if it's pretty straight forward to reproduce, can you try it in Safe Mode?  You could also do a more permanent reset of your Komodo profile (which is what safe mode is but temporary):
- stop komodo
- rename folder C:\User\username\AppData\Local\ActiveState
- Start Komodo and work for a few days and see

[2019-03-08 22:56] mjross opened #3718 ""Edit with Komodo" context menu option for every file type"
During installation, Komodo could provide the user with the option (perhaps disabled by default) of adding an "Edit with Komodo" option to the Windows File Explorer context menu of every file type -- thus extending the existing Prefs Windows integration capabilities to add this menu to all file types, not just those specified by file extensions (as is currently done).

This topic [was discussed in

[2019-03-08 23:09] Lunardog15 commented on #3717
oddly enough when trying to reproduce it I was unable to have this happen
It may have something to do with the time between saves and modifications to the file.
possibly a timeout issue or something?

[2019-03-08 23:10] cgchoffman commented on #3717
@Lunardog15, is a remote file?

[2019-03-08 23:11] Lunardog15 commented on #3717
no it is a local file

[2019-03-08 23:18] Lunardog15 commented on #3717
I also just got this (possibly related?)
![problems](https://user-images.githubusercontent.com/38264570/54061374-8b70ba80-41ce-11e9-892a-f2428ee3a846.PNG)

[2019-03-08 23:20] cgchoffman commented on #3717
@Lunardog15 possibly.  It doesn't help us track down the issue though :)  We need the logs or reproduction steps.  The feature you're showing in your screenshot is maybe a result of the failed save but that wouldn't explain why the failed save happened.

[2019-03-08 23:48] cgchoffman commented on #3718
Thanks @mjross

[2019-03-09 00:14] mjross commented on #3718
No worries!

On Fri, Mar 8, 2019 at 5:48 PM Carey Hoffman <notifications@github.com>
wrote:

[2019-03-09 00:53] rm-bergmann commented on #3716
I can confirm I get this in LESS files. I'm now in the habbit of pressing ';' then 'ESC'

[2019-03-10 17:30] Lunardog15 commented on #3717
it seems to have fixed its self but I am not sure why
should this be marked as closed?

[2019-03-11 20:34] cgchoffman commented on #3566
I see a lot of TCP errors that look like Komodo can't reach Code Intel and keeps trying to restart it.  Have you changed anything recently that could block Komodo on a network (namely localhost) level?  Could you also get your code intel logs next time this happens?  Same folder as the other logs, codeintel3.log.

[2019-03-11 20:36] cgchoffman commented on #3717
We can leave it open in case others hit this issue but please understand I can't justify working on this issue with no reproduction steps and no other users hitting it.

[2019-03-11 21:59] JohnWSteel commented on #3566
[codeintel3.log](https://github.com/Komodo/KomodoEdit/files/2954357/codeintel3.log)
[pystderr.log](https://github.com/Komodo/KomodoEdit/files/2954360/pystderr.log)

These are the two log files from this morning when Komodo froze and I had to close it down via Task Manager, I have not run Komodo since then.
I have not changed anything recently, the only changes have been the regular updates to vari

[2019-03-12 00:19] Lunardog15 commented on #3717
ok, I will get back to you if something happens
thank you for trying to help

[2019-03-12 02:32] #3573 closed

[2019-03-12 03:44] cgchoffman commented on #3566
Thanks for the codeintel3.log.  That looked very familiar.  I found this ticket that I filed almost a year ago: https://github.com/Komodo/KomodoEdit/issues/3529. They are basically the same symptoms.   Komodo can't close, code intel starts crashing at around 2 am and keeps crashing all through the nice.  I thought we had resolved it with https://github.com/Komodo/KomodoEdit/issues/3536 though.  I

[2019-03-12 04:19] cgchoffman commented on #3710
@ssigwart, can you use Prefs > Languages > PHP > PHP Directories?

[2019-03-12 04:22] cgchoffman commented on #3712
I can't reproduce this one.  I'm consistently getting `body>` suggested after the closing `</script>` tag.

[2019-03-12 04:34] cgchoffman commented on #3715
I believe we can change the default pref inside mozilla rather than reverting a patch.  I basically followed Kanashii's instructions and set `accessibility.tabfocus_applies_to_ul` to `false`.  That might just do it for our purposes.

[2019-03-12 04:37] cgchoffman commented on #3609
it's working for me!

[2019-03-12 04:37] #3609 closed

[2019-03-12 09:00] JohnWSteel commented on #3566
Thanks for the reply, at least it is good to know it is possibly Komodo and not my system.
I use Perl, the project is around 80 files, though I rarely have more than 4 or 5 actually open at any time. Files range from about 2k up to my library file which is 97k most are below 10k though.
Not sure how the 'exclude' would help as all files are in the same directory.
From memory the problem seemed to

[2019-03-12 12:41] ssigwart commented on #3710
I think I'd run into problems there.  The directories are already included and scanned, it's just that `filename_jump_handler` doesn't know the exact location of the files.  I didn't test it, but I'm pretty sure it doesn't look at that setting to find the file.

[2019-03-12 12:51] ssigwart commented on #3712
Are you indenting?  It seems like not indenting has the issue, but this does not:
[code]

[2019-03-12 15:26] Lunardog15 commented on #3717
never mind I found it

step 1 have a html5 file
step 2 open the KomodoEdit preview browser
step 3 make a change and save
step 4 close the KomodoEdit preview browser
step 5 save again
expected result : saving
actual result : unable to save

[2019-03-12 15:36] Lunardog15 commented on #3717
I have found steps to reproduce the issue
step 1 create 1 html5 file
step 2 open in
step 3 modify the file and save
step 4 close the Komodo browser preview
step 5 modify the file and save
expected behavior: saves
actual behavior : wont save

[2019-03-12 17:28] cgchoffman commented on #3717
@Lunardog15  you're gonna hate me but...i still can't reproduce this.  Did you confirm the steps in Safe-Mode?

[2019-03-12 17:43] cgchoffman commented on #3566
Thanks for that additional info.  Doesn't sound like your project should be causing Komodo any trouble.  I think we have all the debugging information we need from you @JohnWSteel so I think you should try *Help > troubleshooting > Reset Codeintel Database*.

[2019-03-12 17:50] Lunardog15 commented on #3717
no not yet I will try it in safe mode

[2019-03-12 17:59] Lunardog15 commented on #3717
before i forget here are the logs
[pystderr.log](https://github.com/Komodo/KomodoEdit/files/2958156/pystderr.log)

[2019-03-12 18:23] Lunardog15 commented on #3717
Ok some how I managed to get the browser preview thing in a separate window which seems to cause the issue.
not sure how I did that but I hope that helps

[2019-03-12 18:26] Lunardog15 commented on #3717
yeah it's the separate dialog setting that breaks it

[2019-03-13 18:26] cgchoffman opened #3722 "Can't uninstall on Windows 10 Enterprise"
### Short Summary

Confirmed by two people in forums: https://community.komodoide.com/t/cannot-uninstall-komodo-ide-11-from-windows-10-enterprise/4554/5

Pro is fine apparently.  Confirmed by me and users in forum.

### Steps to Reproduce

Install Komodo 11 on Windows 10 enterprise
Try to uninstall it after

### Expected results

It uninstalls

### Actual results

Windows either freezes or BSODs o

[2019-03-14 15:30] Lunardog15 commented on #3717
confirmed in safe mode that the separate dialog setting that breaks it

[2019-03-15 11:58] JohnWSteel commented on #3566
Thanks

I have reset the database, unfortunately no improvement. I can open Komodo after a reboot and continue to open and close it all day, even after the PC has gone to sleep. But after sleeping overnight it refused to open without rebooting the PC.

Best wishes

John

From: Carey Hoffman <notifications@github.com>
Sent: 12 March 2019 17:44
To: Komodo/KomodoEdit <KomodoEdit@noreply.github.com>
C

[2019-03-15 13:10] LAHavens opened #3723 "Perl 'if' and 'while' statements disappearing"
### Short Summary

When coding, when I try to start and 'if' or 'while' statement, no matter what character I type following the 'if' or 'while', the 'if' or 'while' word disappears and my cursor goes down multiple lines. This doesn't happen with 'unless' or 'elsif'  statements or in my python codes.

### Steps to Reproduce

1.) Create perl script
2.) Type an if() or while() loop

### Expected res

[2019-03-15 16:45] cgchoffman commented on #3566
@JohnWSteel, when that happens do you check for the Python process we've mentioned before and is it there?

What about an entire profile reset?  Here's how you can do that but keep working:
- In CMD run `set KOMODO_USERDATADIR=C:\Some\path\you\will\remember`
- (if Komodo is on your path) type `ko` and press enter

This will start a brand spankin new Komodo instance, totally separate from your work

[2019-03-15 16:48] cgchoffman commented on #3723
Sounds like some broken/maimed snippets in your toolbox maybe?  Try turning off *Edit >Preferences > Editor > Smart Editing > Auto-Abbreviations: disable*

[2019-03-15 16:51] cgchoffman commented on #3717
@Lunardog15 Thanks for all the digging.  I'll have to take another look at this badboy and see if I can get it.

[2019-03-15 17:01] LAHavens commented on #3723
That worked!! Thank you so much.

[2019-03-15 17:02] cgchoffman commented on #3723
No worries.  If you want to continue using WORKING auto abbrevs you can find the broken snippets in your toolbox > Abbreviations > Perl

[2019-03-15 17:03] cgchoffman commented on #3723
I'd be interested to know if they are default and broken in the release or if you had modified them.  I'd obviously want to fix them if it was the former :)

[2019-03-15 17:08] LAHavens commented on #3723
I didn't knowingly modify them on my end (but, honestly, anything is possible). I just downloaded the Mac version and noticed the disappearing act. I don't have this problem on my other computer. Should I reopen the issue?

[2019-03-15 21:07] RogerLevy commented on #3428
I have this issue too.  All dialogs such as yes/no or new file have become so wide I can't see the window's buttons.

[2019-03-15 21:30] Lunardog15 commented on #3717
Thank you

[2019-03-16 12:38] JohnWSteel commented on #3566
Thanks, I did this yesterday and the second instance of Komodo was running OK. I worked on my normal instance all day without problems and left both instances running but minimised overnight. This morning when I tried to maximise the window with my instance running the computer started to freeze, at first for about 10 seconds at a time then 10 seconds working, the working time got shorter and shor

[2019-03-18 03:23] cgchoffman commented on #3712
@ssigwart, busy week!  Yes, I was indented.  Good catch.  Looking at your PR.

[2019-03-18 03:35] #3712 closed

[2019-03-18 03:39] cgchoffman commented on #3723
@LAHavens ya looks like there is a bug

[2019-03-18 03:42] cgchoffman commented on #3723
i've added some details to the original description. Thanks for the report @LAHavens .

[2019-03-18 03:51] cgchoffman commented on #3428
@RogerLevy, what version of Komodo are you using?  I believe a fix went in 11.1.1 but I guess we didn't remember this open ticket.  @Naatan i recall you fixing something to do with dialog window sizes.  Should this issue have been addressed by that fix?

[2019-03-18 04:08] cgchoffman commented on #3717
Finally!  Man...nice find @Lunardog15.  If you prefer previewing in a separate dialog I suggest using an installed browser instead.

[2019-03-18 04:09] cgchoffman commented on #3717
PS.  you set the separate dialog pref in the Web & Browser preferences.

[2019-03-18 04:11] #3715 closed

[2019-03-18 04:29] cgchoffman commented on #3710
yeah exactly.  I was thinking change `filename_jump_handler` to use it but it seems so specific to have a pref that says "I'll have files here, and here, and here and here".  I wonder if this could hook into the Commando Files scope.  @Naatan, I just had a look at the Files scope code to see if it could be used here but the search code that takes a `onComplete` function doesn't receive anything fr

[2019-03-18 12:24] Lunardog15 commented on #3717
thank you

[2019-03-18 15:38] th3coop opened #3724 "Ruby ~= 2: Cannot change variables in debug session"
### Short Summary

I can't change a variable value in a paused debug session when debugging Ruby 2.3.

### Steps to Reproduce

It's likely this can be reproduce with any version over 2.0 (I think that's when we switched to `byebug`)  but I was using 2.3.
Debug a Ruby script and break after a variable has been set.
Double click it in the Locals tab in the Debugger window
Try to set a new value

You

[2019-03-18 20:09] cgchoffman commented on #3566
@JohnWSteel, so `End Task` on the hung Komodo process doesn't free up your computer?  You always have to reboot?

[2019-03-18 22:19] JohnWSteel commented on #3566
If I can get into Task Manager before the computer totally freezes I can close the Komodo process and it will be OK, though Komodo will not run again until after a reboot.

But I only have a short time to get into task manager with the computer freezing at intervals, at first around 10 seconds working and 10 seconds frozen, the frozen periods then start to get longer and the working periods shorte

[2019-03-19 03:37] RogerLevy commented on #3428
@cgchoffman  11.1.1 is the version reported in About Komodo

[2019-03-19 18:36] cgchoffman commented on #3566
@JohnWSteel please remember to open the ticket in a browser.  You've posted your email in your last two comments by replying to the ticket from your email client.

The test with the fresh profile was flawed, my fault.  For it to be a valid test you should ONLY use the Fresh Komodo.  The fact that your computer crashes completely negates the test of the fresh profile.  Can you work from a fresh pro

[2019-03-19 18:39] cgchoffman commented on #3428
@RogerLevy could you share a screen shot of the dialog?  Or share your OS as well.  As a workaround  I believe you can delete *xulstore.json* from your [Komodo profile](http://community.activestate.com/faq/komodo-file-locations#appdata_dir) *XRE* folder.

[2019-03-19 20:19] JohnWSteel commented on #3566
I will try, but probably not until next week as I have a project I must finish. Not sure it will be any better as my install is pretty basic with very few additions or changes. Will let you know.
Thanks

[2019-03-19 20:28] cgchoffman commented on #3566
@JohnWSteel might also be worth trying it without that malware program running.  Virus detection programs are notorious for breaking legitimate programs.

[2019-03-19 22:51] RogerLevy commented on #3428
![Screenshot 2019-03-19 18 50 40](https://user-images.githubusercontent.com/74073/54647159-ebd9e480-4a77-11e9-9b16-89f663f08aee.png)

what side effects will delintg xulstore.json have?

[2019-03-19 23:09] cgchoffman commented on #3428
@RogerLevy, the side effect will be that that dialog will go back to a normal size :).  You shouldn't notice other side effects.  I meant the About Komodo dialog but you answered my question despite my ambiguous wording and you're on Edit.  Perfect.  I'm guess a commit didn't make it over from the IDE repo.  Having a look.

[2019-03-20 00:06] cgchoffman commented on #3715
@ssigwart not sure if you noticed the nightly that went out last week if you want to benefit from all these fixes.  I'll be doing another one tomorrow I believe.  Working on a Ruby debugging issue.
http://downloads.activestate.com/Komodo/nightly/komodoide/latest-master/

[2019-03-20 01:15] RogerLevy commented on #3428
@cgchoffman Your workaround worked.  Thanks

[2019-03-20 01:45] ssigwart commented on #3715
I did see that, thanks.  It's been working well.  Since #3708 is approved, would you be able to merge that one into the next nightly?

[2019-03-20 16:51] cgchoffman commented on #3724
Have added a handler for `-k` in the `property_set` handler in the rb2dbgp.rb file  but now it's failing silently for some reason.  I'm assuming *byebug* doesn't know what `-k` is supposed to mean...maybe byebug dumps logs somewhere.

[2019-03-20 21:40] #535 closed

[2019-03-20 21:44] cgchoffman commented on #3715
@ssigwart oops.  Approved.   I forgot to push a nightly this morning.  I'll stage stuff now so it'll be life by noon tomorrow.

[2019-03-21 02:19] ssigwart commented on #3715
Thanks.  Looking forward to it.

[2019-03-25 21:44] cgchoffman commented on #3724
This will be in tomorrows nightly.

[2019-03-26 03:43] #3618 closed

[2019-03-26 15:04] pixxelfactory commented on #2276
I'm working with a lot of large php and scss files (today scss mostly), and after a couple of hours it becomes reaaaaally laggy, autocompletion is pretty useless after a while, since it takes so long to load them when i'm typing, that i finish writing the word(s) first.
After a simple restart of komodo (edit), its fast again (with the same files open).
The system itself is not the problem, recentl

[2019-03-27 14:39] rozmov commented on #2473
What is the reasoning for "It is not a preference people should care about"? I happen to be found of it.

[2019-03-27 15:24] th3coop commented on #2276
@pixxelfactory , could you give the latest nightly a shot? Quite a few performance enhancements have been submitted to the repo, a few specifically for PHP, so it might be worth trying.

http://downloads.activestate.com/Komodo/nightly/

[2019-03-27 15:27] pixxelfactory commented on #2276
@th3coop , thanks, i'll try it out!

[2019-03-27 15:29] th3coop commented on #2276
@pixxelfactory, let us know how it goes.

[2019-03-27 15:37] th3coop commented on #2473
@rozmov I wouldn't agree with @Naatan's wording but I think his point is that most people do not care about the pref.  Since it's been removed, only 2 people have noticed out of all our users.  It sounds like he's right so I'm inclined to agree that we don't need this pref.  The pref still exists under the hood so we can show you how to set it programmatically if you're interested.

[2019-03-27 17:44] Prodeguerriero commented on #2064
Using Komodo Edit 11.1.1 and experiencing the exact same behaviour as Claude Schneider.

I will try to update MacOs to 10.14 and see if the issue disappears.

[2019-03-27 23:30] ssigwart commented on #2720
At least on Mac in the latest nightly, you can press the space bar while focused, then use the arrow keys.

[2019-03-28 03:59] mshrage-snt-net opened #3725 "Reproduced Step In inconsistency stopping on first executable line and not stopping"
### Short Summary
Reproduced Step In inconsistency stopping on first executable line and not stopping on first executable line.

### Steps to Reproduce
Started Komodo IDE in Safe Mode, First run Wizard completed, Opened PHP code file for local debugging.  I selected _Step In_ option under Debug on Menu started the debugger and it run through without stopping on first executable line.  Then I did t

[2019-03-28 17:24] th3coop commented on #3725
@mshrage-snt-net, fyi I made a mistake in the forum post.  If you're using *step-in* then the debugger stopping on the first line of code is correct.

As to your issue:  I'm not able to reproduce so far.  I tried Debug Menu, Toolbar and pressing F8 and it stops on the first line every time which is what I (and I think you?) expected.  Could you try all three and see if any of them act differently?

[2019-03-28 23:42] mshrage-snt-net commented on #3725
![Screenshot (531)](https://user-images.githubusercontent.com/14288390/55198635-2d137800-518d-11e9-884a-1b1a97e78fea.png)

There is no F8 on the debug menu, hasn't been for a while now.  See the screenshot of my Komodo IDE to my debug dropdown.  I have been trying the Step In from the Debug Menu and the Toolbar and am getting inconsistent behavior.  Not with high frequency but it does occur and se

[2019-03-29 21:26] th3coop commented on #3725
The code sample you shared is comment out code.  I don't know what you would have been debugging in it.  Please create a snippet of PHP that reproduces the issues for you.  It doesn't have to be proprietary code.  If you can't reproduce it in snippets unrelated to your personal code then narrow it down to what in your code is causing this issue then share that small portion.

This means you've rem

[2019-03-29 22:42] mshrage-snt-net commented on #3725
th3coop,
1)  The code sample is commented out code. I suggested that you google search for the code to get all of it.
2)  If the F8 key binding on the Debug Menu was removed, it was accidently done by mistyping.  I would not have had any reason to remove it.  How do I restore the default key bindings so we can communicate steps better?
3)  As a matter of principle, no code that is being debugged s

[2019-03-30 00:58] th3coop commented on #3725
@mshrage-snt-net if you can't work with me to figure this out then there is no point in keeping this ticket out, you've already closed it though so we're good there.  Your response is combative rather than cooperative.  When you're ready to work together please respond with sample code that reproduces the issues.

Refs:
keybinding: http://docs.activestate.com/komodo/11/manual/prefs.html#Config_Key

[2019-03-30 06:24] mshrage-snt-net commented on #3725
Licensed to James Schrage (Commercial license, serial number SE1A23122DF2).
Is this the correct place to submit a Komodo IDE bug?

[2019-03-30 17:15] poorandunlucky opened #3726 "Vertical Scroll Bar Disappears When Collapsing Blocks"
### Short Summary

The vertical scroll bar disappears if you collapse blocks while lower than document top in the buffer, and document height becomes lesser than viewport height.

### Steps to Reproduce

- Create a new document;
- Create blocks via comments or functions that are longer than the viewport's height;
- Scroll to the bottom;
- Collapse blocks starting from the bottom;
- Vertical scroll

[2019-04-01 19:35] th3coop commented on #3725
@mshrage-snt-net please do not share your license number in public forums.  This allows anyone who has it to use your account.

yes this is the correct location.

[2019-04-03 17:16] th3coop opened #3727 "JS HTML debugging doesn't pickup breakpoint on function def lines"
### Steps to Reproduce

If you have an event handler that is only one line the debugger won't pickup breakpoints set on it.  See examples below and not the `// a breakpoint set here...` comments.

#### Does NOT Work
[code]
#### Works
[code]

[2019-04-04 13:08] M1ckael opened #3728 "Bug komodo edit close file not working"
### Short Summary

### Steps to Reproduce

### Expected results

### Actual results

### Platform Information

*Komodo Edit or IDE?*
*Komodo Version?*
*Operating System (and version)?*

### Additional Information

[2019-04-04 14:34] #3728 closed

[2019-04-04 23:59] mshrage-snt-net commented on #3725
I have seen the same problem in the following code although it does seem to be a bit less frequent:
<?php
   print_r("starting up" . "<br>");
   for ($i=0; $i<=10; $i=$i+1) {
      print_r($i . "<br>");
   }
   print_r("finished" . "<br>");
?>

I am now trying to debug a different program and getting the same inconsistent Step-In behavior where the debugger does not stop on the first line of the P

[2019-04-05 13:00] mshrage-snt-net commented on #3725
\<?php
   print_r("starting up" . "\<br\>");
   for ($i=0; $i<=10; $i=$i+1) {
      print_r($i . "\<br\>");
   }
   print_r("finished" . "\<br\>");
?\>

[2019-04-05 16:16] th3coop commented on #3725
Breakpoints aren't working at all for you?  That would be extremely frustrating.  If that's true we should dig into that as well in a different ticket.

Could you run the following in the JS console (*View > Tabs & Sidebars > Console*), reproduce the "step in" issue, then send me your logs?
`ko.logging.getLogger('DBG_Manager').setLevel(ko.logging.LOG_DEBUG)`

Also, when you share code you should b

[2019-04-05 19:54] mshrage-snt-net commented on #3725
When I get the error condition where the STEP-IN does not stop at the first line of PHP code (as I believe it should), the debugger is also NOT stopping at the breakpoints that I have and have had set.  If the debugger WAS stopping on explicitly set breakpoints, my problem would be annoying but not serious.  As it is, I cannot stop the run through the PHP making debugging very problematic.
I still

[2019-04-05 20:07] mshrage-snt-net commented on #3725
OK here are three files: the log. two screen shots showing the four set breakpoints:
[Komodo IDE Debugging Error Log 4-5-2019.txt](https://github.com/Komodo/KomodoEdit/files/3049442/Komodo.IDE.Debugging.Error.Log.4-5-2019.txt)
![Screenshot (537)](https://user-images.githubusercontent.com/14288390/55653483-b4c83a80-57bc-11e9-826e-0cb584bcdbe4.png)
![Screenshot (538)](https://user-images.githubuserc

[2019-04-05 21:02] #3655 closed

[2019-04-08 23:38] th3coop commented on #3725
This sounds like you're hitting F7 or Run Without debugging.  Also, can you confirm with the debug output you provided, what aspect of the bug you experienced?

Also, i noted a comment from your forum post that require clarifying:

This is actually exactly how the debugger is supposed to work.  GO/Continue with no breakpoint will run your code without stopping.  That is expected.  If you "Step in"

[2019-04-09 01:45] mshrage-snt-net commented on #3725
For the run you requested and I reported on above, I was trying to perform a single step debugging session using STEP-IN (now started by pressing F8, as previously I had a legacy keybinding set - not sure how that got set to legacy), which erroneously runs to the end of the program.  The debug output is from that test.
Repeating the test, I try to start the STEP-IN debugging again by pressing F8,

[2019-04-09 16:31] th3coop commented on #3725
We don't do screen share @mshrage-snt-net.  I have many other things that I need to be working on as well as this and scheduling multiple screenshare sessions (which there would definitely be multiple sessions if we went that way) is not something I have time for.  I'm sorry if you're not happy with that but we cannot possibly accommodate people when they ask for that (which they do).

One thing I

[2019-04-09 17:19] mshrage-snt-net commented on #3725
Carey,
As I recall I did try that and I did respond.  I am getting frustrated that the overall time is getting stretched by losing test results and your not being able to focus on the issue.  Both of which would be corrected by screen sharing.  You seem to think that you are saving time by not screen sharing, but it is clear to me that you are not.  You think so as each effort is a smaller chunk.

[2019-04-09 18:03] th3coop commented on #3725
Thank you, let me know how it goes.

[2019-04-09 18:21] th3coop opened #3731 "Slacks Add to Slack button in our docs is broken"
### Short Summary

The process hangs on our redirect server for some reason.  Haven't looked into why.

Refs:
http://docs.activestate.com/komodo/11/slack/
Slack:
https://api.slack.com/docs/oauth
https://api.slack.com/apps/A29P6U8TG/general

[2019-04-09 19:01] mshrage-snt-net commented on #3725
I am getting the same failures to initiate single step mode.

[2019-04-10 01:45] ssigwart opened #3732 "PHP Array Completion on Empty String"
### Short Summary
`php-complete-array-members` triggered on empty string.

### Steps to Reproduce
Use the following PHP and type the last quote.
[code]

### Expected results
No `pystderr.log` message.

### Actual results
The following `pystderr.log` message:
[code]

### Platform Information
Komodo Edit 11.1.2 Nightly
maxOS Mojave

[2019-04-10 18:43] th3coop commented on #3725
I'm at a bit of a loss then.  I'm not able to reproduce this.  No one else appears to be hitting this out of the rest of our Windows users and no debugging steps have worked around it.  The only thing I can think of is to make absolutely sure Komodo restarted in safe mode by confirming that it booted into the *Let's get started* dialog and the Komodo theme reverted to the default Dark theme.

If i

[2019-04-10 19:18] mshrage-snt-net commented on #3725
I confirm that Komodo IDE did booted into the _Let's get started_ dialog with questions and did revert to the Dark theme.  I will rename the profile folder and restart Komodo IDE.

[2019-04-10 19:41] mshrage-snt-net commented on #3725
I have renamed the folder you requested above, when through the Let's get started dialog, created a project this time, opened the three files I am working on, selected the file to debug and attempted to debug (single step F8).  I did get slightly different behavior in that the run through (which is still happening for F8) is not producing output in the debug pane (Output, Call stack, HTML)).  Othe

[2019-04-11 00:59] ssigwart opened #3735 "IDE Collab Schemes Cause Edit Error Log Messages"
### Short Summary
Each new tab results in color scheme errors in `pystderr.log`

### Steps to Reproduce
Open a new tab in Komodo Edit

### Expected results
Nothing in `pystderr.log`

### Actual results
This in `pystderr.log`:
[code]

### Platform Information
Komodo Edit 11.1.2 Nightly
maxOS Mojave

### Additional Information
@th3coop, this is just a minor annoyance that I'd like to get rid of.  I

[2019-04-11 01:29] ssigwart opened #3737 "PHP Bitwise NOT Results in Wrong Class"
### Short Summary
Code intel tried to look up class by name`~MyConstants`.

### Steps to Reproduce
Type the last colon in a file like this:
[code]

### Expected results
Autocompletion of `BITWISE1`.

### Actual results
Error:
[code]

### Platform Information
Komodo Edit 11.1.2 Nightly
maxOS Mojave

[2019-04-11 02:43] th3coop opened #3739 "Start fresh profile Komodo fills logs with koLanguage warnings"
### Short Summary

Start Komodo in safe mode and look at the logs.  They are full of warnings like the following:
`koLanguage: Asked for unknown language: 'Python-common'`

This is coming from the toolbox abbreviations for some reason.  Haven't dug into it yet.

[2019-04-11 02:51] th3coop commented on #3735
Those indicators should never have made it into the Edit Schemes.  I think option 3 is the correct way to go plus an upgrade step should be added to `_loadSchemeSettings` in *koScintillaSchemeService* to remove them from existing Edit schemes.

Let me know if you're interested in making this change otherwise I'll be setting aside time to work on Komodo in this sprint and will hit this when I reach

[2019-04-11 02:53] ssigwart commented on #3735
I was thinking it wasn't meant to be there.  I can take it.

[2019-04-11 13:00] mshrage-snt-net commented on #3725
I rebooted my PC and restarted the same debugging.  For some reason, I think I'm seeing a bit more consistency.  The first F8 almost always will not stop and I am having to press the stop debugging icon and then F8 again to retry.  Now I have seen the second try stop on the first line of code and initiate single step as it should.
Your inability to reproduce the error only means that you are not d

[2019-04-11 16:54] th3coop commented on #3725
We do not do this.  I understand your frustration but we cannot rationalize personal debugging sessions for people using our product.

You've been very cooperative and provided all the information we can get at this time.  The next step will be for me to schedule time to work on this issue during our dev cycle for the next release.  I'll need to look through the code to try and clean it up and add

[2019-04-12 01:25] ssigwart opened #3741 "PHPDoc and Completion Issues with PHP Arrays"
### Short Summary
1.  PHPDoc does not detect `@param MyClass[] ...` or `@return MyClass[] ...`
2. Completion for "Test 2 & 3" fails below:

[code]

[2019-04-12 01:26] mshrage-snt-net commented on #3725
Komodo IDE is not working and you have no work around to stop an initial run through, until I can manually press the stop icon.  There are definite risks to LIVE data in my circumstance.  Until ActiveState can provide a debugger product that works without the risk of data corruption or loss, I will most likely take the refund.
It is concerning to me that you have a clearly serious bug in your prod

[2019-04-12 17:24] th3coop commented on #3725
At no point did I say we are fine with having a bug in Komodo.  I need to prioritize the work items I have, that is all.  I'm genuinely sorry for the inconvenience @mshrage-snt-net.

[2019-04-13 21:14] #3732 closed

[2019-04-17 15:18] #3737 closed

[2019-04-17 16:03] #3735 closed

[2019-04-19 00:00] mjross opened #3745 "Debug stepping skips over assert() statements"
### Summary
Debug stepping (both Debug > Step In and Debug > Step Over) jumps over all assert() statements, regardless whether the values they test are true or false, and even assert() statements that call other functions, thereby preventing me from stepping into those called functions. If I step into a function that consists of assert() statements only, then the Debugger jumps straight to the end

[2019-04-19 01:39] ssigwart opened #3746 "PHP Array Anonymous Functions Object Completion Errors"
### Short Summary
Anonymous functions in array based callbacks result in `php-complete-object-members`.

### Steps to Reproduce
Probably all of the PHP array functions that use callbacks will have this issue.
[code]

Note that is works fine like this:
[code]

### Expected results
Object completions

### Actual results
No completions and errors
[code]

### Platform Information
Komodo Edit 11.1.2
Ma

[2019-04-19 04:08] ssigwart commented on #3746
@th3coop, right between the following 2 lines:
https://github.com/Komodo/KomodoEdit/blob/ffd36583abd53a44b382a110dcda16a616384e5b/src/codeintel/lib/codeintel2/tree_php.py#L1193-L1194
I was thinking I could add something like this:
[code]

Do you think the last half is doable?  Do you have any pointers?

[2019-04-23 01:56] mjross commented on #3276
I haven't seen this behavior since I posted this issue, so I'll close it for now.

[2019-04-23 01:56] #3276 closed

[2019-04-29 18:50] th3coop opened #3748 "Update JShint to latest"
### Short Summary

Update shipped JShint to latest.

[2019-04-29 21:08] th3coop opened #3749 "NodeJS debugger is broken"
### Short Summary

Looks like a forum post got missed and a bug report was never created:

- https://community.komodoide.com/t/node-js-error-cannot-find-module--debugger/4288
- https://community.komodoide.com/t/debugging-node/4655

We should try to get the Node debugging fixed up asap.

### Steps to Reproduce

See forum post linked above.

[2019-05-06 21:09] #3741 closed

[2019-05-06 21:17] mjross opened #3750 "Closing Komodo IDE using red “X” in upper right causes unclean shutdown"
### Summary
For apparently multiple users (but not all), when Komodo IDE is closed using the red “X” button in the upper right corner, then when Komodo is next started, it immediately presents a pop-up message stating that Komodo was not shutdown cleanly the last time it ran. When Komodo IDE is closed using File > Exit (or a key sequence assigned to it), the pop-up message never appears

### Steps

[2019-05-06 22:18] th3coop commented on #3745
I'm not able to reproduce this.  What version of PHP (I assume it's PHP) are you running?

[2019-05-06 22:51] mjross commented on #3745
"PHP 7.3.2 (cli) (built: Feb  5 2019 23:16:38) ( ZTS MSVC15 (Visual C++
2017) x86 )"

On Mon, May 6, 2019 at 5:18 PM Carey Hoffman <notifications@github.com>
wrote:

[2019-05-06 23:07] th3coop commented on #3745
K i'll get 7.3 and see if that changes anything.

[2019-05-06 23:12] th3coop commented on #3750
If anyone notices additional steps that leads to this that would be helpful. So far, starting Komodo then closing right away using `x` in top right does no reproduce.

[2019-05-06 23:36] th3coop commented on #3745
Oh we don't have 7.3 bits.  Did you stick xdebug original in there?

[2019-05-07 01:03] mjross commented on #3745
I'm not sure what you mean by 7.3 bits. The PHP I installed on my new laptop in February was PHP 7.3.2 VC15 32-bit Thread Safe. assert() statements were working fine until the day I submitted this issue. I don't recall making any changes to my PHP environment, but will be happy to answer any questions to help resolve this (for me, assert() statements are essential).

xdebug original? I'm not sure

[2019-05-07 16:23] th3coop commented on #3745
@mjross, we ship xdebug.  That's what i mean by 7.3 bits.  The xdebug we ship doesn't support 7.3.  Original Xdebug ==  not the one we build and ship.
How are you including this Php.ini?  Is it in your PHP install directory with you php.exe?

[2019-05-07 16:34] mjross commented on #3745
I think the phrase "7.3 bits" was throwing me off because I immediately thought of 32- versus 64-bit versions of PHP.

To answer your questions, yes, my php.ini is in the root PHP installation directory (for me that is C:_a\PHP\ext), and presumably PHP automatically sees that file whenever it runs.

When you say that you ship Xdebug, does that mean that when I install Komodo IDE it would add Xdebu

[2019-05-07 17:52] th3coop commented on #3746
Man, I'm slipping.  I didn't see this ticket.  Having a look.

[2019-05-07 17:53] th3coop opened #3751 "php 7.3 xdebug bits"
### Short Summary

Build'm, add'm

[2019-05-07 17:59] th3coop commented on #3745
It's not added, it ships with Komodo.  When you point Komodo at a PHP interpreter, it will figure out some things about it to determine which Xdebug it should point at in the Komodo install directory.  If you use PHP 7.2 it will work out of the box without the custom stuff you did.

Having said that, you're not doing anything wrong.  Using any properly compiled Xdebug (ie for your PHP install) sho

[2019-05-07 18:38] #3724 closed

[2019-05-07 18:51] mjross commented on #3745
Thanks for the clarification. I had no idea that I should have installed
PHP 7.2 instead of 7.3. To answer your question, I don't use any of those
packages, such as WAMP, and instead prefer installing each component on its
own. So I simply ran the usual PHP installer for Windows. It sounds like it
would be best for me to simply uninstall 7.3 and install 7.2. There's
nothing special about 7.3 that

[2019-05-07 19:59] th3coop commented on #3745
as long as it resolves your problem!  Keep me posted.

[2019-05-07 20:29] mjross commented on #3745
I replaced PHP 7.3.2 with 7.2.18, started Komodo, and went to Preferences to point Komodo to the new php.exe. But I'm still getting the same error as shown above. The log is below.

[pystderr.log.txt](https://github.com/Komodo/KomodoEdit/files/3154446/pystderr.log.txt)

[2019-05-07 21:40] th3coop opened #3752 "Komodo fail to load toolbox when when toolbox.sqlite is deleted"
### Short Summary

It was failing on that issue where some legacy tools have a trailing `}` BUT there was also a `\n` char at the end so the existing fix didn't work.  Made it more robust.

[2019-05-07 21:45] th3coop commented on #3752
https://github.com/Komodo/KomodoIDE/pull/162

[2019-05-07 21:46] th3coop commented on #3739
https://github.com/Komodo/KomodoIDE/pull/161

[2019-05-07 21:46] #3739 closed

[2019-05-07 21:46] #3752 closed

[2019-05-07 22:05] #3658 closed

[2019-05-07 23:02] th3coop commented on #3745
There's nothing about PHP in those logs.  Are you sure they are the right ones?  Are you still defining a custom php.ini file?  Remove it if you are.

[2019-05-08 00:00] mjross commented on #3745
Yes, I was defining a custom php.ini file. (I was assuming one is always needed by PHP to get started. Never tried it without.) So I removed it just now and restarted Komodo, but am still getting the error above.

I'm really glad you asked about the Komodo logs, because I now realize that the doskey command I was using to access the logs was referencing a user account I'm no longer using. Sorry ab

[2019-05-08 00:05] mjross commented on #3745
It appears Komodo is looking for C:\_a\Komodo_IDE_11\lib\support\php\debugging\7.2\ts-vc**15**-x86\php_xdebug.dll, but in that directory is ts-vc**14**-x86\php_xdebug.dll.

[2019-05-08 14:47] trogne commented on #3750
I have the same issue, Windows 10, Komodo 11.1.2.   Thanks for opening this issue.

[2019-05-08 15:42] mjross commented on #3750
@trogne Certainly.

[2019-05-08 17:57] th3coop commented on #3750
@mjross  and @trogne, please keep ^that^ in mind as you use Komodo.

Also, I wanted to clarify, if you follow the steps I mentioned, you DO or DO NOT hit the issue?  ie. Start Komodo and immediately close it using the red `x`.

[2019-05-08 19:14] mjross commented on #3750
Yes, I do hit the issue. I tried it again just now. I closed Komodo using File > Exit, immediately restarted it (no error), immediately closed it using the red 'x', immediately restarted it (got the error), immediately closed it using the red 'x' a second time, and immediately restarted it (got the error again).

[2019-05-08 19:21] mjross commented on #3750
Here are some log files at each step...

[1_pystderr_before_Komodo_start_first.log.txt](https://github.com/Komodo/KomodoEdit/files/3158963/1_pystderr_before_Komodo_start_first.log.txt)

[2_pystderr_after_Komodo_stop_with_red_x.log.txt](https://github.com/Komodo/KomodoEdit/files/3158964/2_pystderr_after_Komodo_stop_with_red_x.log.txt)

[3_pystderr_after_Komodo_restart.log.txt](https://github.com/Ko

[2019-05-09 14:36] mjross commented on #3745
Is there a way we could induce Komodo to look for the ts-vc14-x86\php_xdebug.dll?

[2019-05-09 16:28] th3coop commented on #3750
Ok thank you, and one last thing: What if you do it in safe mode?

[2019-05-09 16:41] mjross commented on #3750
Then it doesn't happen. In fact, for that reason, I had to update my original post to indicate "Start Komodo normally (i.e., not in Safe-Mode)." I'm guessing Safe-Mode wipes the slate clean.

[2019-05-09 17:05] th3coop commented on #3745
Yeah, the vc15 means that it was compiled with Visualstudios compiler 15.  I'm not even sure how we could have gotten into this state unless PHP changed which compiler they use to compile PHP 7.* part way through the minor releases.  When we build Xdebug for release, we download the PHP version the dll will be for and do some magic to check which compiler built it then use that compiler to use Xde

[2019-05-09 17:06] th3coop opened #3754 "PHP 7.2 debug bits are compiled with wrong compiler."
### Short Summary

Looks like our 7.2 bits are compiled with VC 14 but PHP 7.2 was compiled with VC 15.  Redo.

[2019-05-09 17:07] th3coop commented on #3745
Fyi, filed this bug: https://github.com/Komodo/KomodoEdit/issues/3754

[2019-05-09 17:19] #3723 closed

[2019-05-09 17:22] mjross commented on #3745
Thanks! Interesting. My first thought is that if I use the Xdebug from https://xdebug.org/download.php then I'll again be able to do basic debugging, but Debug stepping will still skip over assert() statements? If that's the case, would going all the way back to PHP 7.1 resolve it? (I'll test that first scenario after lunch. "Grub first, then ethics." :-)

[2019-05-09 17:45] th3coop commented on #3750
A clue!  Finally.  Could you zip up your profile folder, without any codeintel related files, and send it to Support@activestate.com saying it's for me and in reference to this ticket?

[2019-05-09 18:00] th3coop commented on #3745
I'm hoping no, but that's possible.  I don't understand the skip assertions problem yet.  Ideally we would confirm that the issue is either resolved or not when you're using OUR compiled bits so switching to 7.1 would be awesome if you don't mind the extra work.  Looking through the patches we apply to xdebug, I dont see anything about assert statements so there shouldn't be anything that makes th

[2019-05-09 19:13] mjross commented on #3750
I zipped them up, but Gmail won't let me send them ("Blocked for security reasons!"). So here they are: https://send.firefox.com/download/2568397fc39ce6b9/#k6cmrGeOVaxzNuDfx-qGWw

Even though I closed Komodo beforehand, 7-Zip detected two files in use and apparently didn't include them.

[2019-05-09 19:35] mjross commented on #3745
Success! I added php_xdebug-2.7.2-7.2-vc15.dll to C:\_a\PHP\ext and added `zend_extension = php_xdebug-2.7.2-7.2-vc15.dll` to my php.ini. Preferences approved it and I'm even able to step into assert() statements. My personal dev work was on hold without that ability, so this is very cool. Thanks, @th3coop!

The 7.3 stuff you kindly noted in other issues, so unless I'm mistaken, I can close this i

[2019-05-09 19:35] #3745 closed

[2019-05-10 18:39] th3coop opened #3758 "PHP watch expressions don't work"
### Short Summary

In the debugging watch panel you can set something like:
[code]
and have it populate in the watch panel list and it'll show you the length of the array

This is not working for PHP:
[code]
apparently returns an exception. I'm not sure that this is supported but will dig I when have time.

Ref: https://community.komodoide.com/t/array-count-shown-in-debug-panel/4074/12?u=careyh

[2019-05-14 19:15] th3coop commented on #3746
@ssigwart sorry for the delay and now no help.  I don't think I know enough about code intel to know what's available to perform this.  If I get some more time I might be able to dive deeper into this and see what's available but right now I don't have that time.

[2019-05-15 00:23] ssigwart commented on #3746
No problem.  Thanks anyway.  It's not as bad of a problem now that #3730 is merged so the error log doesn't grow as badly when this happens.

[2019-05-16 15:05] CrashAlpha commented on #517
Is there any workaround for this? I am experiencing this problem with 11.1.1 build 91089 and working on legacy code that is very dependent on upvar, I am getting hundreds of warnings and I get the impression that it's getting NO attention from the developers.

[2019-05-21 21:58] th3coop commented on #3750
@mjross that link expired.  Sorry, we had something going on a work that took my full attention last week.  Were the files that weren't included Code Intel related by any chance?  I recall from the forum post that you two, or one of you, was often noticing that Komodo wasn't stopping when you closed it.  This is often due to code intel taking a long time to shutdown.   I wonder if a code intel res

[2019-05-21 22:11] th3coop commented on #517
Both the people this ticket got assigned to haven't worked at active state for some time now.  Having said that, there are definitely higher priority issues to deal with in Komodo given this appears to have only effected 2 people over 4 years.  I'll put it on my radar.

[2019-05-21 22:17] th3coop commented on #3745
yep, all good to close this one!

[2019-05-21 22:19] mjross commented on #3750
@th3coop No worries; here's a fresh one, with codeintel-related files in case they are helpful: https://send.firefox.com/download/b51c632dd34baa36/#_eu8lxA6Qwfsj9_hl4Ebyw. Per your instructions, I hadn't included any codeintel related files in that previous one. I haven't had the experience of Komodo actually not stopping (unless I'm forgetting something from awhile back). Let me know if I can sen

[2019-05-21 22:31] th3coop commented on #3750
@mjross, no dice but there are a lot of missing files from the profile.  Are you sure you zipped everything up?  There's no tools folder, prefs.xml, and others.

[2019-05-21 22:40] mjross commented on #3750
Yes. I opened the file just now and I see all that you mentioned. Image below...
![Clipboard01](https://user-images.githubusercontent.com/829492/58135290-7ad9b900-7bef-11e9-9ff7-a9f6294f4277.jpg)

[2019-05-22 16:24] CrashAlpha commented on #517
Thanks, I have no idea how many people work with the principle that their code should raise no warnings, or simply that upvar isn't used that often. But I have been stuck at Komodo 8 for this reason alone.

[2019-05-24 16:42] mjross opened #3761 "HTML elements "header", "figure", and "time" not recognized"
### Summary
The HTML element names "header", "figure", and "time" are valid HTML but are not recognized as such by Komodo IDE, which marks them as erroneous with red squiggly underlines (please see the screenshot).

### Platform Information
Komodo IDE 11.1.1 build 91089 (on Windows Home 10.0.17763.437)

### Attachments
![Clipboard01](https://user-images.githubusercontent.com/829492/58343569-f70315

[2019-05-30 21:37] cdcmicro commented on #3549
OK, assuming this is still relevant, I'll join the party here.  As you're probably aware refactoring in IDE 11 always fails in any lexical scope, logging...

This is with Komodo IDE, version 11.1.2, build 91133, platform win32-x86. Built on Mon May 06 23:00:41 2019. I think it's the current nightly build.  I'm on Windows 10 (x64; currently 1903).  It was the same on 1803, too.

[code]
In javascrip

[2019-06-01 20:34] HunterAhlquist commented on #3648
I can still produce the bug on MacOS 10.14.5 on Edit 11.1.1

[2019-06-01 20:56] ssigwart commented on #3648
A lot of fixes are in the 11.1.2 nightly:
https://downloads.activestate.com/Komodo/nightly/komodoedit/latest/

[2019-06-04 11:47] babobski commented on #3761
@mjross If I look at you're document you're missing the doctype declaration "<!DOCTYPE html>", default Komodo checks if it's a HTML5 at looking at the doctype declaration. If you don't have a doctype declaration it falls back to HTML(4) also for linting, so the linting is correct as header, time and figure are not HTML4 elements.

For example without doctype:
![afbeelding](https://user-images.gith

[2019-06-12 21:52] th3coop commented on #2391
@Defman21 did you open a PR for that fix?

[2019-06-13 09:36] Defman21 commented on #2391
Yeah, but it was closed.

https://github.com/Komodo/KomodoEdit/pull/2477

[2019-06-13 18:36] th3coop commented on #2391
@Defman21 thank you very much sir.

[2019-06-13 20:20] th3coop commented on #2391
@Defman21 can you submit it again?  I'm going to merge it.  Could you slap in an opacity `0.6` to the `-moz-tree-twisty` with it?

[2019-06-14 13:49] Defman21 commented on #2391
Done.

[2019-06-14 17:17] #2391 closed

[2019-06-18 18:53] shinyion commented on #2009
I am having this same issue in KE v 11.1.1
So he is not the only one and it is a year later. Running Win 10.

[2019-06-20 17:55] th3coop commented on #2009
@shinyion see my last comment.  New issue opened.  Comment there.

[2019-06-21 02:56] thatguypark commented on #2696
Have given up on my trial of Komodo and have moved to another IDE which is just gliding along.  Sorry Komodo, just to problematic for me, when I just need to get coding done.

[2019-06-23 21:03] dougplant commented on #2332
As someone who doesn't write that much HTML, but consumes a fair boit of XML, I want to copy XML tags all the time. This bug is something of a PITA because it fights very hard with muscle memory.

I would be more than satisfied if I could disable the automatic matching of tags. Is that doable?

[2019-07-02 19:11] alfredrajo opened #3766 "Komodo edit v11.1.1, project files with %20 instead of blank"
### Short Summary

### Steps to Reproduce

### Expected results

### Actual results

### Platform Information

*Komodo Edit or IDE?*
*Komodo Version?*
*Operating System (and version)?*

### Additional Information

[2019-07-02 19:15] alfredrajo commented on #3766
when drag and drop project filenames from the Tabs to the project name, the filename will be inserted, but with %20 instead of blank " ", when Blanks in pathnames. Then opening the project file will result in error message: does not exist

[2019-07-06 19:19] ssigwart opened #3768 "res_index not written to disk for 5 minutes"
### Short Summary
`res_index` not written for at least 5 minutes causing CodeIntel directory rescans.

### Steps to Reproduce
- Clear CodeIntel database.
- Open a project and then trigger a completion (e.g. `$this->` in a PHP class).
- Close Komodo within 5 minutes.
- Open Komodo and project.
- Trigger a completion (e.g. `$this->` in a PHP class).

### Expected results
- CodeIntel only rescans dir

[2019-07-06 19:45] ssigwart opened #3769 "Buffers are cached forever in driver.py"
### Summary
https://github.com/Komodo/KomodoEdit/blob/99b37b1c7eef04d6a918b7f3f1db74adf19c80a6/src/codeintel/lib/codeintel2/oop/driver.py#L337
Whenever `get_buffer` is called, it stores the buffer in `self.buffers[path]`.  However, it never seems to clean up the cached buffers.  I wonder if this is the reason Komodo gets slow after a few hours of usage.

## Possible Updates
My initial thought is t

[2019-07-14 20:52] cmcramer commented on #3648
Same problem here. Sometimes doesn't happen after first time opened, sometimes takes 2-3 times before functionality is disabled. Also, dropdowns frequently respond slowly even when they work. (macOS 10.14.5)

[2019-07-15 16:01] th3coop commented on #3648
@cmcramer  are you using the "nightly" linked by @ssigwart in the comment above yours?  If not, please try it, if yes, thanks for letting us know!

[2019-07-15 21:53] th3coop commented on #3750
gah sorry for the long delay.  The link has now expired.  Any chance you still have the file available to share @mjross ?

[2019-07-15 23:52] mjross commented on #3750
@th3coop No, it's long gone, so I re-created it. Here's the link: https://send.firefox.com/download/30cc134c57282854/#COyGDnkevpmYaX7HkqHkZA. Please download it ASAP. Thanks.

[2019-07-16 00:04] th3coop commented on #3750
@mjross thank you.

[2019-07-16 20:38] th3coop commented on #3549
@cdcmicro could you file a different bug for that?  This ticket is very specific to code intel returning an unexpected result.  We'd have to do separate investigation into why your examples don't work.

[2019-07-16 20:46] th3coop commented on #3549
Actually never mind @cdcmicro .  I see why you chimed in.  Your examples will likely be addressed when this gets fixed.  Forget about filing a new ticket.  Thanks for the additional info.

[2019-07-16 21:48] th3coop commented on #3766
@alfredrajo I'm not able to reproduce an issue here.  Could you please update the original ticket properly by clicking `...` and Edit to add reproduction steps or a video or gif that illustrates the issue?

I opened a file that had a space in it's name and in it's path.  I dragged the files tab to my open project.  The name of the file shows correctly and there was no issue opening the file.

[2019-07-16 21:49] th3coop commented on #3766
I'll reopen if you're able to add repro steps

[2019-07-16 21:49] #3766 closed

[2019-07-16 22:26] th3coop commented on #3768
Does this mean a memory leak that remains after Komodo stops?

I wonder if this can be done (and maybe the memory cull) in oop-driver.py when Komodo is shutdown:
https://github.com/ssigwart/KomodoEdit/blob/master/src/codeintel/bin/oop-driver.py#L191

It would likely require a new function in each case that can be called from there that will have enough context to perform the cull or index save.

[2019-07-16 22:41] th3coop commented on #3769
I think we'll be limited to a time out for this.  The only alternative I see would be implementing a `CloseHandler` in  Driver and send  `closed` requests to the process from Komodo which seems like way more of a pain than just aging out entries.

[2019-07-16 23:16] #2507 closed

[2019-07-16 23:52] #1817 closed

[2019-07-17 02:25] ssigwart commented on #3768
I don't think so.  It just never gets saved.

https://github.com/ssigwart/KomodoEdit/blob/master/src/codeintel/bin/oop-driver.py#L191

I'm not sure.  I don't have enough knowledge of that file.  Does only one copy of `oop-driver.py` run in the background when Komodo starts and then get killed when Komodo is closed?  If so, then that's probably a good starting point.

[2019-07-17 02:31] ssigwart commented on #3769
I'm good with just adding a 5 minute timeout period or something like that.  Maybe add a way to manually trigger it to flush it from the console (I assume that's probably possible to build).

An alternative might also be to only keep the last 2 or 3 files.  I've already forgotten how often `get_buffer` is called, but I think it might only need the currently open file most of the time.

[2019-07-26 19:22] th3coop commented on #3768
I'm not having any luck digging through this code to find out how (or even if) oop-drive.py is called to start things.  Lets' try your suggestions, put them in a nightly and see if things get noticeably worse.

[2019-08-02 01:09] ssigwart opened #3775 "Investigating possible memory leak in breadcrumbs"
See https://community.komodoide.com/t/whats-the-expected-max-memory-usage/4710/2

[2019-08-08 09:35] agroszer opened #3777 "lagging cursor move with linter errors"
### Short Summary

When the text in the editor (about 900 lines) has LOTS of linting errors (almost every line one) the cursor movement is lagging.

### Steps to Reproduce

Best repro is to go to the bottom of the file, press and hold the up arrow key, need to wait a few secs for the cursor to move.
Best subject is a JSON structure opened with python syntax
As soon as you turn off all syntax check

[2019-08-08 09:42] agroszer commented on #3777
playing with the Color Scheme Editor / Linter warning styles seems not to help

[2019-08-10 16:08] isleofwighter opened #3778 "I can no longer select text in the editor using the mouse."
Suddenly I can no longer select text using the mouse cursor, individual bits of text on one or multiple lines. Have uninstalled and reinstalled but still the same.Worked fine yesterday (9th Aug 2019. Have tried on different projects and file. same result. Mike

[2019-08-16 20:20] ssigwart opened #3780 "PHP Parent Class Type Inference Overwritten"
### Short Summary
PHP parent class type inferences are overwritten when `$this->a = ...` is in the code for the child class.

### Steps to Reproduce
[code]

### Expected results
Every thing in `abc()` auto-completes.

### Actual results
Parent variables in `abc()` don't auto-complete.

### Platform Information
Komodo Edit 11.1.2 beta
MacOS

[2019-08-18 00:39] mopi16 opened #3782 "Commando is not working"
### Short Summary
I just installed Komodo Edit, version 11.1.1, build 18206, platform macosx. Built on Wed Dec 12 19:56:58 2018. I can only access the commando once. CTL-Shift-O pulls it up once. But then I can't pull it up again

### Steps to Reproduce
I can only access the commando once. CTL-Shift-O pulls it up once. But then I can't pull it up again

### Expected results
Commando should come up

[2019-08-19 20:05] th3coop commented on #3782
@mopi16 what's in your logs after you reproduce this?  *Help > Troubleshooting > View Log File*

[2019-08-19 20:17] th3coop commented on #3778
@isleofwighter, Please fill in as many of the template fields as possible.  There isn't enough information to work with here.

[2019-08-20 08:03] isleofwighter commented on #3778
Hi

Why it ceased working I have no idea but after a third re-installation it started working again. I can see no reason why the program should be the cause or what else in the setup of the machine, but now it works again.

Worked in IT for 30 years before I retired and have experienced stranger things. So I may never know.

Thanks

Mike

From: Carey Hoffman <notifications@github.com>
Sent: 19 Aug

[2019-08-20 12:26] mopi16 commented on #3782
Thanks for the response! Also, I don't think I was specific with my OS. I'm on MacOS 10.14.6.

Here are the logs after I opened the application, used commando successfully once, and then tried to bring it up 2 or 3 more times unsuccessfully:

[2019-08-20 08:23:19,933] [INFO] Startup: Welcome to Komodo Edit 11.1.1 build 18206 (platform macosx, running on Darwin 18.7.0 version Darwin Kernel Version

[2019-08-20 16:28] th3coop commented on #3778
Thanks for letting me know @isleofwighter.  If it comes up again grab your logs(**Help > troubleshooting > View log file**) and let me know which platform and version of Komodo you're on.  I'm going to close this for now.

[2019-08-20 16:28] #3778 closed

[2019-08-20 16:50] th3coop commented on #3782
@mopi16, did you just upgrade from a much older version?  If yes, which version?

As sledge fix, could you try *Help > Troubleshooting > Restart in Safe-Mode*?  See if you can reproduce the issue then, in Safe-Mode.

It would be worth changing your colour scheme.  It looks like it might be a very old one.  That SHOULDN'T break commando but that's the only obvious thing in those logs right now.

[2019-08-20 17:21] mopi16 commented on #3782
Thanks for the ideas!
Actually, this was a fresh install on a new computer.  I did restart it in safe mode and and had the same problem.
Regarding the colour scheme. Hmm... I would expect it to be what it was out of the box, because I didn't change it. However, when I experienced the issue with commando, as a last ditch effort, I dragged my old Komodo Edit 9 from my old computer into my new comput

[2019-08-20 17:53] th3coop commented on #3782
Thanks for confirming about the profile, install state and trying Safe-Mode.  If you moved your Komodo 9 profile to beside your Komodo 11 profile then Komodo will find it and import it.  That might be whats going on there.  Sounds like it's not related to the Commando issue though.

Could you try running the following code in *View >Tabs & Sidebars > Console*:
[code]
Reproduce the issue then send

[2019-08-20 18:01] mopi16 commented on #3782
Awesome.  Here they are!

[2019-08-20 13:55:43,331] [INFO] Startup: Welcome to Komodo Edit 11.1.1 build 18206 (platform macosx, running on Darwin 18.7.0 version Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64)
[2019-08-20 13:55:43,332] [INFO] Startup: /Applications/Komodo Edit 11.app/Contents/MacOS/komodo built on Wed Dec 12 19:56:58 2018
[2019-08-

[2019-08-20 18:23] th3coop commented on #3782
Weeeeeeeeeird.  What if you run `require('commando/commando').show("scope-combined")` in the console?

[2019-08-20 18:31] mopi16 commented on #3782
Nothing. It is the same thing.
<img width="528" alt="Screen Shot 2019-08-20 at 2 27 07 PM" src="https://user-images.githubusercontent.com/2288653/63373931-cdde1c00-c356-11e9-9855-1d548bca99df.png">

Here is the pertinent log...
[2019-08-20 14:26:46,701] [DEBUG] commando: Showing Commando
[2019-08-20 14:26:46,714] [DEBUG] commando: Executing scope handler: onShow on [object Object]
[2019-08-20 14:2

[2019-08-20 20:54] th3coop commented on #3782
Thanks for the participation @mopi16.  I just want to make sure Komodo does in fact start in a fresh profile so I'll get you to do a couple steps in the terminal:
  `$ export KOMODO_USERDATADIR=/path/to/some/empty/dir`
  `$ open /Applications/Komodo\ Edit\ 11.1.app`
Then see if you can reproduce the issue.

I have very high doubts that this is related to Komodo as I can't reproduce the issue and n

[2019-08-20 20:56] th3coop commented on #3782
OH I also noted a rather odd path in the logs. If you're working with  Komodo project, could you try opening a different project or a new one in a directory that doesn't contain `/tests/visual/ConcatTest/boxes/[-1000 -1000 -500 -500]`.  If you're not using projects, change the Places directory to one that doesn't have that as a child.

[2019-08-20 21:26] FullPrice123 opened #3783 "Activestate popup window is impossible to get rid of."
Opening the app constantly results in a popup window prompting me to update to the "latest version of komodo ide" even though I am on the current version. I have tried using this link as well as the one on the website and no matter what it still pops up. There are no options to configure or dismiss this page.

All you have to do is open the app and it pops up every time

I expect the app to not an

[2019-08-20 21:36] th3coop commented on #3783
@FullPrice123 Click "not interested" and it should stop.

[2019-08-20 21:38] FullPrice123 commented on #3783
<img width="1280" alt="Screen Shot 2019-08-20 at 5 38 04 PM" src="https://user-images.githubusercontent.com/25888275/63386537-523d9880-c371-11e9-8e16-62f9f6ff8b92.png">

Unfortunately, I have no such option.

[2019-08-20 21:43] th3coop commented on #3783
OH fun!  Please check your system prefs and reduce your font size then open Komodo again.  That dialog must not be able to handle the expanded text size when it comes to it's dimensions.  It looks like it's pushing the bottom of the dialog off your screen.

[2019-08-20 21:43] th3coop commented on #3783
You can revert the text size change in your system prefs after.  The rest of Komodo should function normally.

[2019-08-20 21:47] FullPrice123 commented on #3783
Wow! That worked perfectly! Thanks so much!

[2019-08-20 21:47] #3783 closed

[2019-08-21 01:56] ssigwart commented on #3782
@th3coop, this might be the same as #3609, which is fixed in the nightly.

[2019-08-21 12:33] mopi16 commented on #3782
Thanks for the tip. Changing the export directory did not change anything. However, the fix in #3609 did the trick!
How do I get the "nightly"? I just downloaded it from the site a few days ago and assumed that would be the most up to date?
Thanks again for all your help!

[2019-08-21 16:48] th3coop commented on #3782
Ahhh I KNEW this sounded familiar!  Thanks @ssigwart.  @mopi16, sorry about that.  I should have remembered that too.  You can get the nightly here: http://downloads.activestate.com/Komodo/nightly/komodoedit/latest-master/

[2019-08-21 17:06] th3coop commented on #3782
@mopi16 if that fixes it let us know and we can close this.

[2019-08-21 17:15] mopi16 commented on #3782
Yes it works!  Thank you both!!!

[2019-08-21 17:15] #3782 closed

[2019-08-21 17:16] th3coop commented on #3782
Thanks @mopi16.

[2019-08-25 19:46] daveaiello opened #3784 "Debug output for Perl script containing utf8 characters does not equal output written to file"
### Short Summary

While debugging a Perl script, the text displayed in Debug Output does not always equal the output displayed to standard output or written to a file.  This is possibly due to the strings containing utf8 characters.

### Steps to Reproduce

[code]

### Expected results

[code]

### Actual results

[code]

### Platform Information

*Komodo IDE*
*version 11.1.1, build 91089*
*macos

[2019-08-25 19:52] daveaiello commented on #3784
Perhaps my example code should have stated that the string is 44 characters long (because the string is 44 characters long if you include the new line character)?

I wrote the example code this way to show that each line of Debug Output appears to be truncated by the same number of characters that have accents or other diacritical marks.

I believe if I had written a third print statement, that ou

[2019-08-26 20:50] edo101 opened #3785 "Can't save text file copied from UNIX"
### Short Summary

### Steps to Reproduce

### Expected results

### Actual results

### Platform Information

*Komodo Edit or IDE?*
*Komodo Version?*
*Operating System (and version)?*

### Additional Information

[2019-08-26 21:19] #3785 closed, assigned to nobody

[2019-08-28 05:31] agroszer commented on #3641
any chance to get this done? it's damn annoying

[2019-08-29 01:25] daveaiello commented on #3784
The reason I discovered this in the first place is because I am debugging a Perl script being developed to support website localizations. Some languages we are processing with this localization script have multiple characters with diacritical marks on every line of text.

The most important features of Komodo IDE for me are remote debugging and the pane that's used for the variable inspector. Debu

[2019-08-29 04:58] daveaiello commented on #3784
I had the opportunity to do some debugging to test the viability of having a bash shell window open to the output file.

I tried both
* `tail -f {output file}` and
* `perl -d {parameters} | tee {output file}`

This is with the Perl code including `$|++;` which normally unbuffers standard output.

Neither of these options resulted in the bash shell output window displaying the Perl script's output

[2019-08-29 06:03] agroszer commented on #3641
Komodo IDE, version 11.1.2, build 91147, platform linux-x86_64.
Built on Wed Jul 17 00:32:53 2019.

use https://raw.githubusercontent.com/zopefoundation/z3c.form/master/src/z3c/form/field.py

copypasta the content to a new file in the IDE

syntax is python3

![Screenshot_2019-08-29_08-00-01](https://user-images.githubusercontent.com/350912/63914424-75cca700-ca33-11e9-8636-16f27baf730f.png)

[2019-08-29 06:07] agroszer commented on #3641
here is a copy of my encoder.py, which does not work:

https://gist.github.com/agroszer/20a2c39d3a345c0aecda99914de8aba9

[2019-08-29 18:28] th3coop commented on #3784
@daveaiello I have some funky steps for you to attempt.  I THINK I've found the bug but I can no longer reproduce the issue with or without the fix.  In the mean time I'm going to build a nightly for you to try.  I'll have to send it to you directly so when that's ready I'll get you to contact support@activestate.com and ask for me.

Here are the steps I'd like you to try(I'm assuming you're on OS

[2019-08-29 18:45] th3coop commented on #3784
@daveaiello, I figured out why I couldn't reproduce the issue.  I was reproducing it on Mac only.  The above patch, though helpful, doesn't fix the issue.

[2019-08-29 20:10] daveaiello commented on #3784
Not sure what you are saying here.

You believe that this is a MacOS-only problem, right? Does the patch you provided fix this?

When I modify the Python source code for Komodo, I have to force MacOS to execute it. Is there any other way to do this than to "Allow apps downloaded from: Anywhere"? Can I trust the app individually?

[2019-08-29 20:33] th3coop opened #3786 "Select line on line num click not working."
### Short Summary

I even remember Todd showing me this when I started here and it's in the docs.

### Steps to Reproduce

Click the line number in a file

### Expected results

Line is selected

### Actual results

Breakpoint is created

[2019-08-29 21:41] th3coop commented on #3784
No.  I said that in my last comment.  You don't need to try the patch.

I'm gonna have to punt this until later when I have more time to devote to bugs.  I have to get back to sprint work.

Note:  After chasing all through the debug code I'm relatively confident that the issue lies in perl5db.pl and how it's getting and sending strings to Komodo.

Other notes:
1. debugger.js get Invoker, doExecute

[2019-08-29 21:45] th3coop commented on #3641
@agroszer, I'm asking about the Symbol Browser, not the symbol list.  Does that ever populate with the broken file?

Confirmed *field.py* populated fine with symbols for both Symbol Browser and Symbol List.
Confirmed *encode.py* doesn't work at all regardless of the language set.

[2019-08-29 21:49] th3coop commented on #3641
Oh nvm.  Komodo says there is a syntax error at line 98.  I've not seen `*` as an argument on it's own before.  What is it?  Symbol List and Browser populate.

[2019-08-29 22:30] th3coop commented on #3786
PR up https://github.com/Komodo/KomodoIDE/pull/172

[2019-08-30 06:25] agroszer commented on #3641
That's a python3 language feature: https://stackoverflow.com/questions/14301967/bare-asterisk-in-function-arguments

[2019-08-30 16:20] th3coop commented on #3641
Thanks for the info @agroszer.  Is this the only case that you experience then?  If that's the only case then I might actually have time to fix this.

[2019-08-30 17:12] th3coop commented on #3641
I've updated the title and ticket desc to reflect our findings.  Thanks for the help @agroszer.  I can't promise I can fix this quickly but at least we know what's causing the issue.

[2019-08-30 17:49] th3coop commented on #3641
Frustrating.  I was hitting ANOTHER bug where Komodo changes the file type to Python2 when you save a Python3 files for the first time from our templates.  Komodo hands `*` in a args list no problem when the file is set to Py3.

I'm back at square one and lots of sprint work to get to so I'll have to come back to this.  Something helpful you could try, @agroszer, would be to cut large sections out

[2019-08-31 00:25] th3coop opened #3787 "ko.filepicker should support a `window` or figure out which window lauched it"
### Short Summary

I Think this is the root of the issue where you open a filer picker from a dialog and once you dismiss it, Komodo main pushes your dialog to the back ground.  This issue has been around for some time now.  Would be good to be rid of it.

### Steps to Reproduce

Project menu > new project: click the `...` browse button to select a folder

### Expected results

When you've select

[2019-09-05 13:19] agroszer commented on #3641
Where do you see that syntax error message? I have an other file (not public) which also fails to show the symbols... Nothing in pystderr.log, Nothing in console or notifications....

[2019-09-05 21:26] th3coop commented on #3641
@agroszer, there is no syntax error.  Did you read my last msg?

[2019-09-05 21:28] th3coop commented on #3786
Fixed

[2019-09-05 21:28] #3786 closed

[2019-09-06 19:42] xofer commented on #103
I encountered this exact same issue in 11.1.1. I found that it was choking on `pycodestyle.py` and I fixed it with `pip uninstall pycodestyle`.

[2019-09-07 21:29] agroszer commented on #3641
ooops right....

I massaged encoder.py and found that making L104
`def __init__(self, *, skipkeys=False, ensure_ascii=True,`
->
`def __init__(self, skipkeys=False, ensure_ascii=True,`

so removing the `*` arg makes the symbol browser work.

another:
[code]
does NOT work, but joining the 2 last lines:
[code]
works

[2019-09-09 21:24] agroszer commented on #3641
another:
[code]
does not work, joining the lines make it work:
[code]

[2019-09-10 17:24] th3coop commented on #3641
@agroszer thank you.  Looking into the code.  This narrows it down significantly, thanks.

[2019-09-13 17:22] #3402 closed

[2019-09-24 16:20] brsysadmin opened #3788 "pydbgpproxy - IDE Key already exists"
### Short Summary

We have a problem with xdebug + PHPStorm + pydbgpproxy with the message : "IDE Key already exists".

We work in multi-user context and remotely :
- we have the IDE on our laptop (client side)
- we have Apache / PHP on a remote server (server side)

### Steps to Reproduce

- start the service pydbgpproxy
- start a new xdebug session with a key (for example : myownkey) -> we can s

[2019-09-24 16:28] th3coop commented on #3788
@brsysadmin could you share the terminal output of this session including the command that starts the proxy?  How are you starting the debug session?  And finally, what's your php.ini config look like for debugging?

[2019-09-25 10:01] brsysadmin commented on #3788
#### ABOUT THE PROXY ####
We manage the daemon with a SystemD service:
[code]

What I can see with 'journalctl -f -u pydbgpproxy' :
START OF THE PROCESS :

[code]

DEVELOPER REGISTRATION :

[code]

DEVELOPER UNREGISTERATION :

[code]

DEVELOPER REGISTRATION :

[code]

#### PHPSTORM SIDE ####
Our configuration in PHPStorm IDE:
  Configuration of proxy via File > Settings > Languages & Frameworks >

[2019-09-25 21:17] th3coop commented on #3788
@brsysadmin, My guess is that PHPStorm isn't killing the connection correctly when you disable the session from within the IDE.  I confirmed that the proxy works as expected when used with Komodo.

SETUP:
- xampp server with PHP xdebug configured to connect to the Proxy
- proxy running in terminal
- komodo configured to connect to proxy

Proxy output BEFORE debug session started:
[code]
Proxy outp

[2019-09-25 21:17] #3788 closed

[2019-09-27 02:14] ko-ichi-h opened #3789 "Lines contain Japanese (Unicode) characters are recognized as “changed”"
### Short Summary

Lines contain Japanese (Unicode) characters are recognized as “changed”, when I use Git integration feature of KOMODO IDE.

### Steps to Reproduce

Open a Git controlled UTF-8 file that contains Japanese (Unicode) characters.

### Expected results

No lines should be recognized as "changed".

### Actual results

Lines contain Japanese (Unicode) characters are recognized as “chan

[2019-09-27 17:00] th3coop commented on #3789
@ko-ichi-h thank you for filing this.  Could you include a sample file as well?

[2019-09-28 01:24] ko-ichi-h commented on #3789
Here is the sample file, UTF-8 LF, includes Japanese characters in line 17, 26, and so on. Please note that this file must be added to a git repo to reproduce the problem.

[word_netgraph.zip](https://github.com/Komodo/KomodoEdit/files/3664964/word_netgraph.zip)

[2019-09-30 20:16] th3coop commented on #3789
@ko-ichi-h thank you!

[2019-10-05 05:57] babobski opened #3790 "Packages stuck for a long while"
## Short Summary
The packages page:

https://community.komodoide.com/packages/

Is stuck for a long while.

Edit (Carey): The code for this lives here: https://github.com/Komodo/komodo-website

[2019-10-07 20:46] paulsommer commented on #1530
What is this? Three years later and Komodo IDE 11 - and the error is still there?
I cannot believe. It's a shame.

[2019-10-07 21:40] th3coop commented on #3790
It's not slow for me @babobski, is it still hanging for you?

[2019-10-08 03:39] babobski commented on #3790
I meant, it is not updating the packages info anymore.
It says I updated Komodo Git yesterday. But "yesterday" was 28 of may.

[2019-10-08 16:47] th3coop commented on #3790
@babobski key details to leave out! heh.  Thanks for clarifying.

Very weird, but thankfully it's not preventing people from getting the packages.  I have quite a few things that will take priority over this.  @babobski, if you or anyone else is interested, the Komodo Website code and this packages code is a public repo if you want to have a look and see what might be up.  https://github.com/Komod

[2019-10-10 08:42] holmes20 commented on #1955
For me it was sufficient to kinda disable the SSH timeOut
on Client and server (Ubuntu 18.04)

http://queirozf.com/entries/disabling-ssh-timeout-when-connecting-to-from-ubuntu

SSH Client ConfigurationPermalink
In the server/computer you are connecting from

Open file /etc/ssh/ssh_config and set directive ServerAliveInterval to a value like 100:

# other configs
ServerAliveInterval 100
This causes

[2019-10-15 18:58] th3coop opened #3791 "TopView state isn't saving properly, wrong files opened after crash/forced quit"
### Short Summary

I'm not 100% on repro steps for this other than it involves a forced quit/manually kill the process or a crash.  Either the open view state isn't being saved when the rest of the window state gets saved or Komodo recovery code is loading the saved state from somewhere else.  I'm pretty sure it's the latter.

### Steps to Reproduce

Force quit Komodo however your platform support

[2019-10-16 03:21] ssigwart commented on #3791
MacOS Catalina seems to have broken my setup and I can't get it running again.  But I think you are referring to the list of open files being restored to the set of files open at the last normal quit, not the crash.  It looks like `saveWorkspaceIfNeeded` and `ko.workspace.saveWorkspace` might be what saves the files.  However, that's only called when the app is quit or when you do a Save All.  Wha

[2019-10-16 18:14] th3coop commented on #3791
Make sure catalina didn't overwrite your Xcode dir and remove the platform SDKs Komodo needs.  It happens everytime.

Honestly, I thought this was already occurring though not the entire workspace.  My names all over that code but I guess it's been a while since I looked at it.

Looked at the code.  Yeah that should be just fine.  We `debounce` the save function so even if you open 10 files at onc

[2019-10-16 18:50] th3coop commented on #3791
Left the event name out: `view_opened`.  Should probably save on file close too: `view_closed`

[2019-10-16 21:39] ssigwart commented on #3791
Yeah, I caught that issue.  It seems to be something else.  I think the *dynamic module not initialized properly* part is the key.  If I can figure it out, I'll work on this issue.

[2019-10-17 00:23] th3coop commented on #3791
@ssigwart, your regular Komodo install runs though?  ie. /Application/Komodo...?  I hate to say it, you might need to rebuild Mozilla though I can't imagine WHY this would occur other than #OSXUPDATES.

Oh maybe, did your system Python get upgraded?  I heard OSX was removing Python.  Maybe you're not using the Python that you think you're using.

[2019-10-17 00:32] ssigwart commented on #3791
Yeah, the regular nightly runs.  I've actually tried rebuilding Mozilla at least 4 times now.  I'm pretty sure when I upgraded MacOS, python did too.  I actually have both python 2.7.16 and 3.7.4 installed with brew.  I tried `bk run` with the system python and brew versions.  They both failed with the same error.  I even tried python 3, but it was clear `bk` isn't intended to run with that.

[2019-10-17 03:18] ssigwart commented on #3791
Several rebuilds later and still no luck.

Looking at the code more, I now see that `views.p.js` calls `ko.workspace.saveWorkspaceDeferred` in `handle_view_opened` and `handle_view_closed`.  I assume based on the `if` conditions, that that is being run.  That then sets a timeout for `saveWorkspace` to be called.  However, that doesn't set `saveNow`, which means `saveWhenIdle` is used.  I wonder if

[2019-10-17 15:57] th3coop commented on #3791
Right,  this has nipped me in the butt a few times now.  That might require a `saveNow`.

[2019-10-17 17:28] ssigwart commented on #3791
Thanks for looking into that.  I've always had the `[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0` error, but it used to work fine anyway.  I think it's something with Python and imports.

[2019-10-18 17:45] th3coop commented on #3791
@ssigwart, I'm stumped here.  My best guess is `/Users/ssigwart/Documents/Programming/KomodoEdit/mozilla/build/moz3500-ko11.10/mozilla/ko-rel/dist/Komodo.app/Contents/MacOS/python/xpcom/_xpcom.pyd` is bunged up somehow.  When you rebuilt Mozilla did you use `python build.py distclean all`?  or just `python build.py all`?

[2019-10-18 20:55] ssigwart commented on #3791
I ran them separately:
[code]

I don't see any `.pyd` files (it looks like that might be Windows only).  I tried this to wipe out any compiled code, but to no avail:
[code]

I was wondering if it's a `.dylib` issue.
[code]
I'm trying to figure out how those are created.  Or maybe I'll just rsync all the `.dylib` files from the nightly to it and see what happens.

[2019-10-21 18:41] th3coop commented on #3791
Build conversation moved to forums: https://community.komodoide.com/t/macos-catalina-build-issues/4787

[2019-10-23 15:31] th3coop opened #3792 "`Open` menu option for Packages in Commando doesn't work"
### Short Summary

It should perform the install action.

[2019-10-24 17:06] th3coop opened #3793 "Extend Yaml syntax parser to distinguish between keys and values"
### Short Summary

This would make YAML a lot easier to parse for people if we could colour `- blah: something` so that the key `blah` is a different colour to `something`.

[2019-10-26 02:33] ssigwart commented on #3791
For the view state:
1.  It looks like the code was never setting up the "idle" observer.  I added that.
2.  It's still using the `saveWhenIdle` method, so it will still wait a little.
3.  The project state was only saved when closed, so I added code to save that when the workspace view state is saved.

[2019-10-28 03:11] th3coop commented on #3791
I think 3 fixed the issue.  See my comment in the PR.

[2019-10-28 04:01] #3792 closed

[2019-11-01 08:38] rovf opened #3797 "Feature request: Colour tabs depending on location in directory tree"
Problem:

It frequently happens in a project, that files with identical names but different locations in the project tree are edited together. Examples:

- In a project with subprojects, each subproject may have its own makefile, but all makefiles have the same name, i.e. 'Makefile'.

- A project may have the naming convention, that files containing unit tests, have the same name as the files for

[2019-11-01 17:01] th3coop commented on #3797
We've provided this functionality in the Open Files tab.  *View menu > Tabs & Sidebars > Open Files*.  The gear menu icon provides an option to sort the files by folder.

If we do this I think we would go the route of exposing more of the path in the tab.  Multi coloured tabs doesn't match the colour scheme of Komodo.

Having said that, Komodo is very easy to customize and people have done similar

[2019-11-03 21:13] #3791 closed

[2019-11-03 23:50] #3769 closed

[2019-11-04 04:28] #2519 closed

[2019-11-04 11:55] rovf commented on #3797
Thank you. Getting this information from the sidebar instead from the tabs is better anyway, because Kodomo Edit unfortunately does not have multi-row tabs, and the tab bar constantly overflows anyway. While the number of files displayed in the sidebar (without the need to scroll) is still limited, there are at least much more files to see than on the short tab bar.

It is a pity that this can't b

[2019-11-04 15:41] #2528 closed

[2019-11-04 17:11] th3coop commented on #3797
I don't understand this comment.  Are you asking for unlimited vertical space?  That's obviously impossible so maybe you mean something else?

It can be, quite easily.  I guess you might mean it's a pity I'm saying we won't do the work in the original request.

[2019-11-05 21:04] wilecoyte78 opened #3798 "Error In Komodo Lock 183"
### Short Summary

Unexpected result acquiring commandments lock: 183

### Steps to Reproduce

Right click file hover over open with and click ActiveState Komodo

### Expected results

Open file in Komodo Edit

### Actual results

Unexpected result acquiring commandments lock: 183

### Platform Information

*Komodo Edit or IDE?* IDE
*Komodo Version?* 11.1.2 build 91158
*Operating System (and versi

[2019-11-05 21:23] th3coop commented on #3798
Looking.  Just to confirm, the *Expect Results* is a typo, correct?

[2019-11-05 21:28] wilecoyte78 commented on #3798
I am not quite understanding your question.

The Expected Results is what I expected the file to do after I right clicked the file and hovered over open with and clicked ActiveState Komodo. I expected the file to open in Komodo but I got the error instead. It happens with any file I try to open this way. I can open files while in Komodo using the file menu in Komodo.

[2019-11-05 21:34] th3coop commented on #3798
@wilecoyte78 you said `Open file in Komodo Edit` but you're running Komodo IDE.  Is that a typo or do you expect Komodo Edit to open.  They are two different code bases for me to look for the bug in.

[2019-11-05 21:39] wilecoyte78 commented on #3798
Sorry everything is Komodo IDE. http://x-v.it/hzd63h

[2019-11-05 21:39] th3coop commented on #3798
@wilecoyte78 thanks for confirming and thanks for reporting.

[2019-11-05 22:00] th3coop commented on #3798
@wilecoyte78 I can't reproduce this.  I just installed the nightly, setup the Windows Config prefs, then tried "Edit with Komodo IDE" with komodo already running and with it stopped.  The file opens without issue in both cases.

Can you provide more info?  Where are you seeing the error your shared?  Is there more output?  Is it possible there is another Komodo instance running in a half shutdown

[2019-11-05 22:02] wilecoyte78 commented on #3798
I have no idea what the issue was I restarted my computer and it is now working as expected. This error only happened after I upgraded Komodo IDE without restarting.

[2019-11-05 22:09] th3coop commented on #3798
OK, thanks for reporting back.  Sounds like I don't need to pounce on this then.

[2019-11-06 12:32] rovf commented on #3797
Of course we can't have unlimited space! I just want to say that the sidebar usually accomodates more entries than a single tab row, so it is a better place for organizing  a lot of files. Of course, multirow tabs would be even better, but from what I understood, a request for multirow tabs has been rejected already in the past. Plus, for multirow tabs, we really would need some clue in the design

[2019-11-06 18:18] lamontpeterson opened #3799 "Dropdown selection boxes can be used only once"
### Short Summary

Dropdown selection boxes can be used only once.

After that one use of any given dropdown, it will not open, arrow keys do nothing and further selections are not possible (until restarting, reopening the app, modal dialog, file, whatever the dropdown is part of).

I have found that the little gear icon menu of the Projects window in the left side will reopen and can be used more

[2019-11-06 22:11] th3coop commented on #3799
@lamontpeterson I believe this is fixed in the nightly: http://downloads.activestate.com/Komodo/nightly/

Please try it out and report back.

[2019-11-07 13:45] sonyboy232 opened #3800 "Failed to start codeintel When starting application"
### Short Summary

First run of the program after a cold boot I got error message "Failed to start codeintel". I had to dismiss the error message 5 times.

### Steps to Reproduce

I haven't attempted to reproduce the issue, but Exiting the application and restarting it does not reproduce the error.

Not much to go on, I know, but wanted to report and help out where I can.

### Platform Information

[2019-11-07 14:44] mickey263 commented on #933
Hi, I up this problematic issue :

It's not a problem on a "variable to string of 49 characters" but a problem on the number of character on the shell line :

set a "0123456789012345678901234567890123456789012345678"
0123456789012345678901234567890123456789012345678
set **ab** "0123456789012345678901234567890123456789012345678"

set **ab** "0123456789012345678901234567890123456789012345678"
extra

[2019-11-08 18:35] th3coop commented on #3800
Thanks for reporting @sonyboy232, definitely odd.  FYI, code intel is started by Komodo as an external process then the communicates with Komodo over TCP so it could have not started or that communication was blocked by the OS...or something else that I'm not thinking of.

Something you could do if this happens again is try to identify the Python process that was started by Komodo.  I'm not a heav

[2019-11-08 18:40] th3coop commented on #933
Thanks @mickey263, that makes sense that this would effect the debugger since the debugger is essentially the interactive shell (implementation wise I mean).   Thanks for the additional details.

[2019-11-13 11:40] rovf opened #3801 "Clean trailing spaces on save does not work with "save all""
I  have set in my "File Saving" preferences to "clean trailing spaces and EOL markers". This works if I do a File/Save, but it does not work when I do a File/SaveAll.

Steps to reproduce:
- Enable this preference
- write some trailing spaces
- do a Save/All (ctrl-shift-S)
The trailing spaces are still here. Now do a Ctrl-S.
Only now they are gone.

### Platform Information
Komodo Edit 11.1 on Wind

[2019-11-13 18:05] th3coop commented on #3801
@rovf I'm not able to reproduce this.   One thing I note is that `Ctrl + Shift + S` is *Save As*, not *Save All*.  Is that a typo or did you change your keybindings?  If it's not a typo and you did not change keybindings then that would explain what you're seeing.

[2019-11-14 09:52] rovf commented on #3801
I don't remember having changed this keybinding, but "Save All" is definitely bound to Ctrl-Shift-S; it is also shown with this shortcut in the menu.

One thing I noted that in my test with "Save All", the cursor was still on the line where I have the trailing space, while on the test with "Save", the cursor happened to be on a different line, and this seems to influence the behaviour.

I now chec

[2019-11-16 00:19] th3coop commented on #3801
@rovf could you update the origin bug description to clarify what you found?  The txt seems like a reasonable request but I can't get to it right now and I'll be confused when i come back to it if I read and try to reproduce the issue .

[2019-11-19 21:58] ethangardner opened #3802 "Frequent CodeOntel database corruption and suggestions incomplete when working."
### Short Summary
I am on Komodo IDE, version 11.1.2, build 91158, platform win32-x86.
Built on Mon Nov 04 10:03:25 2019. I frequently need to reset my CodeIntel database due to corruption. Even on a freshly scanned code base, suggestions are incomplete and core methods aren't found.

### Steps to Reproduce
Use several projects several projects that have large code bases. Most of the projects I wo

[2019-11-21 19:56] milanlakhani opened #3803 "Feature Request: Read and Write to Google Docs"
### Short Summary

I'm not sure how feasible this is but if at all possible it would be great to have integration with Google Docs so I can read and write to my Google Docs from my text editor!

### Steps to Reproduce

### Expected results

Connect with Google Drive account and read and write to Google Docs

### Actual results

No Google Drive integration yet

### Platform Information

Komodo Edit

[2019-11-21 21:41] th3coop commented on #3803
This isn't use case we would accommodate for a few reasons:
1. There are existing tools to have your Google drive sync'd locally so you could interact with them in that manner.
2. This is not a use case that most people using Komodo would need.  Storing source code is not what Googled drive is meant for.
3. Given the above two, the work to benefit ratio is way off.

Apologies to just close this bu

[2019-11-21 21:41] #3803 closed

[2019-11-21 23:07] th3coop commented on #3802
@ethangardner any chance you can narrow this down a bit?  As it stands this will be next to impossible to narrow down to a specific bug.  The JS items should be separate ticket.  Are multiple huge projects necessary to reproduce the issue? It's also unclear whether the mentioned missing functions are ever there.  Are shown for a period after the first scan then go away after the undefined amount o

[2019-11-22 22:42] ethangardner commented on #3802
@th3coop Thanks for the reply. Unfortunately, I don't know if multiple huge projects are necessary to reproduce the issues, but that is what I work on and where I experience the issues. It's possible that it occurs on smaller projects as well. I can check on a separate machine with some personal projects to see if it happens.

When I say that the database is corrupt, I am basing that off of the li

[2019-11-25 21:03] th3coop commented on #3802
@ethangardner yikes!  That's really helpful additional information though I cannot imagine how that's happening.

Could you break the missing completions after a reset/scan into  a separate ticket and list maybe a handful of missing completions?

If you have time to try it I'd appreciate it but I understand if you're swamped and can't do it.  Next time you notice the corruption error send me your

[2019-11-26 01:08] th3coop opened #3804 "Code intel broken in Edit"
https://community.komodoide.com/t/macos-catalina-build-issues/4787/10?

Doesn't start on Windows either.  Likely related to:
https://github.com/Komodo/KomodoEdit/commit/59cd8c44d6e7f20d60503e9af82fa3687d6992ce

[2019-11-26 01:39] th3coop commented on #3804
Looks like i mixed some PR reviews up:
https://github.com/Komodo/KomodoEdit/commit/58442da3ef7ddd540e246ce95f6efcdf13a0f409#diff-ccc616856bed525b2fbc181b0e20a5f8R138

[2019-11-26 01:40] th3coop commented on #3804
Fixed and testing locally.  Will push and rebuild before I leave work then push a new nightly tomorrow.

[2019-11-26 01:52] #3804 closed

[2019-11-27 15:13] ethangardner commented on #3802
@th3coop - thanks. I'll see if I can reproduce with a smaller project and open a new ticket with the code suggestions that are incomplete if I am able to reproduce it.

Here is my codeintel log that reflect the corruption right after a reset. [codeintel3.log](https://github.com/Komodo/KomodoEdit/files/3897416/codeintel3.log)

[2019-11-28 10:04] 4l7h0f opened #3805 "NS_ERROR_FAILURE"
2147500037 (NS_ERROR_FAILURE)

Komodo Edit, version 10.2.3, build 17708.
Built on Tue Jul 11 21:59:10 2017.

[2019-11-28 18:18] th3coop commented on #3805
@4l7h0f please fill out all fields in the report template.

[2019-11-28 18:18] #3805 closed

[2019-11-29 00:00] #3780 closed

[2019-11-29 17:45] th3coop opened #3806 "Symbol browser doesn't filter out JavaScript anon funcs defined with `function`"
### Short Summary

If you define an anonymous function in your JS file using `function` they will show up in the symbol browser.  We filter out anonymous functions define with arrow functions so we should probably filter these out too.

### Steps to Reproduce

Put the following in a JS file:
[code]
- open the symbol browser

### Expected results

![Capture](https://user-images.githubusercontent.co

[2019-11-29 22:24] #3775 closed

[2019-12-13 21:02] ChopperCharles commented on #3799
Same problem with the latest version available online. December 2019.

[2019-12-13 21:05] th3coop commented on #3799
@ChopperCharles please confirm your build number from *Help menu > About Komodo*

[2019-12-13 21:10] ChopperCharles commented on #3799
Komodo Edit, version 11.1.1, build 18206, platform macosx. Built on Wed Dec 12 19:56:58 2018

Apple menu -> Komodo -> About Komodo for Mac btw.

Charles.

[2019-12-13 21:15] th3coop commented on #3799
@ChopperCharles doesn't look like you install the thing you thought you installed.  Lastest build is from Dec 11 and build number is `18447`.  Use the link above to get the latest Edit 11.1.x build.

[2019-12-13 21:30] ChopperCharles commented on #3799
Well, the very first result from Google (https://www.activestate.com/products/komodo-ide/downloads/edit/), and the only version available and advertised for download on the ActiveState website is what I installed.

The only way to get a newer version apparently is to find this thread. That's probably not the best solution.

FYI, I'm a former Windows guy, just looking for something comparable to No

[2019-12-13 21:43] th3coop commented on #3799
@ChopperCharles keep your eyes peeled for a new version of Komodo released soon.

[2019-12-16 18:35] agroszer commented on #3641
till you get to it I scaffolded a commando module: https://github.com/agroszer/commando-python-symbols

[2019-12-16 22:51] th3coop opened #3808 "html code intel suggestions don't work"
### Short Summary

Still works in 11.1.1.  Doesn't work in the latest.  Commits since: https://github.com/Komodo/codeintel/commits/master

NOTE: on first start up tag completions may appear but they will stop working after the first completion.

### Steps to Reproduce

From 11.1.1:
![html-completions](https://user-images.githubusercontent.com/655154/70949649-30001280-2013-11ea-83cd-fe7b573594a7.GI

[2019-12-17 03:30] ssigwart commented on #3808
Is this IDE only?

[2019-12-17 04:35] th3coop commented on #3808
@ssigwart correct

[2019-12-17 16:14] Naatan commented on #231
Reverted these fixes as this is not a bug, it's a feature. Being able to edit the same file in a split is intentional. It's so you can edit two places in that same file at the same time.

[2019-12-17 19:28] th3coop commented on #231
The wording in the PRs is a little confusing.  It had me second guessing what's going on.  The commit prevented a third instances of a file being opened in a splitview.  You can have side by side instances of the same file in splitview, but if you "Move to splitview" one of those instances, it will simply open the instance in the adjacent view.  Re-reverting.

[2019-12-17 22:53] th3coop commented on #3808
Cannot reproduce anymore.  Not sure why it wasn't working for me at the time but no one seems to be able to reproduce the issue any more.

[2019-12-17 22:53] #3808 closed

[2019-12-19 05:10] babobski commented on #2538
@th3coop Is this now fixed? I see you guys fixed #3687

[2019-12-19 05:17] babobski commented on #3800
@sonyboy232 I looked at you're log file, but I see a lot of errors concerning you're color scheme.
Are you using some custom color scheme? looks like it's not compatible.

[2019-12-19 07:45] babobski commented on #3806
@th3coop I have a hard time understanding the logic of filtering out these functions.
I've you're developing for the web you can't use the arrow functions yet, for older browser support.
I usually know what these functions are, for example:

![afbeelding](https://user-images.githubusercontent.com/3530262/71154400-bdbe4680-223b-11ea-9bbc-f08bfc37ff05.png)

I've you're changing these functionality p

[2019-12-19 18:29] th3coop commented on #3790
Token used to pull in the updates had expired.  Updated and fixed.

[2019-12-19 18:29] #3790 closed

[2019-12-19 19:02] babobski commented on #3790
Nice, Thanks!

[2019-12-19 19:21] th3coop commented on #2538
@babobski I'm not sure.  Take 12 for a spin (or the nightly of 11) and let me know https://community.komodoide.com/t/komodo-12-preview-now-available/4830

[2019-12-19 22:23] th3coop commented on #2538
Man, I can be lazy sometimes.  I tried it.  No, it doesn't look like this was fixed @babobski.

[2019-12-19 22:45] th3coop commented on #3806
@babobski, to clarify, you would like anonymous functions to be shown in the symbol browser?  And since we already filter out arrow functions, does that mean you want the option to show those as well?

The reasoning for filtering them out is that they aren't helpful for the most part and clutter the symbol browser.

[2019-12-20 08:14] agroszer opened #3810 "userscript properties / key binding can't add CTRL+TAB"
### Short Summary
Can not add CTRL+TAB because as I try to add it in New Key Sequence the form switches the tab to Triggers

### Platform Information

Komodo IDE, version 11.1.2, build 91158, platform linux-x86_64. Built on Mon Nov 4 10:51:53 2019.

### Additional Information

![Screenshot_2019-12-20_09-12-27](https://user-images.githubusercontent.com/350912/71240239-eceeb980-2308-11ea-9419-9252c9

[2019-12-20 08:26] agroszer commented on #3810
workaround is to manually modify the ktf file in `~/.komodoide/11.1/tools`

[2019-12-21 13:18] babobski opened #3811 "Black borders are back"
### Short Summary
Just installed v12 but after a restart the black borders are back.

![afbeelding](https://user-images.githubusercontent.com/3530262/71308412-8fd43000-23fc-11ea-8ac2-d783a382b0c4.png)

### Platform Information

Komodo IDE 12.0.0 build 91814 (platform win32-x86, running on Windows post2012Server version 6.3.9600)

[2019-12-21 13:34] babobski opened #3812 "css languages (including less and scss) don't autocomplete after ;"
### Short Summary
I'm taking V12 for a test drive, but this issue still exist in css type languages.
It is working for css files, but in less or scss files I get the unwanted behavior.

*scss*
![afbeelding](https://user-images.githubusercontent.com/3530262/71308589-c743dc00-23fe-11ea-92bf-60cc121d4984.png)

*less*
![afbeelding](https://user-images.githubusercontent.com/3530262/71308596-f4908a00-23

[2019-12-21 13:40] babobski opened #3813 "DOCS: command id references is broken"
### Short Summary
The page of the command id references is broken, used to work on the old docs:

http://docs.komodoide.com/SDK/commandid

Was looking for this issue on the forum:

https://community.komodoide.com/t/userscript-to-make-sure-editor-tab-gets-swtiched-on-ctrl-tab/4833

[2019-12-21 13:44] babobski commented on #3601
Seems to be fixed in V12

[2019-12-21 13:44] #3601 closed

[2019-12-21 14:15] goozak commented on #3601
Just for those who finds this later on... I had so much issues with autocompletion when v11 was released that I stayed on v10 (which, to be honest, also had issues).  I recently discovered that those issues where likely coming from the old project file I was using, since v8 or v9...  I recently had to completely reinstall my work computer and started fresh with v11.1 and a new project file — every

[2019-12-25 11:58] Zebrafish007 commented on #3694
Print works only via print preview. There when settings for printer are change this has to be redone every now and then. How far with the 11.1.2?

[2019-12-25 13:20] weiqk commented on #3489
The person who introduced this bug should be fired. This is a serious bug that makes komodo no longer great. Using komodo now is as uncomfortable as eating shit.

[2019-12-25 15:12] jimtut commented on #3489
Yeah, it’s truly unfortunate. I just reimaged my PC and thought I’d give Komodo 11 another try. My god, it’s really bad!  Besides this change, they have that whole weird margin symbol for every line that has a print statement!  I really do not toggle my prints on and off, so this is useless and a LOT of clutter.

I went back to version 10 again. I’ve bought every release since 6 I think, but I won

[2019-12-25 18:03] th3coop commented on #3694
@Zebrafish007 please report a new bug.  This ticket is about toolbox snippets.

[2019-12-25 18:11] th3coop commented on #3489
This is fixed in 12:
https://github.com/Komodo/KomodoEdit/issues/3786
which you can access here:
https://community.komodoide.com/t/komodo-12-preview-now-available/4830

@jimtut if you have more issues, please report them.  They won't get addressed without reports.  I can't imagine you went back to 10 just because of debug symbols in the margin.  If you have reported them, please reference them for

[2019-12-25 18:20] th3coop commented on #3811
@babobski is this in reference to a previous ticket?  I've never seen a black border around the Komodo window itself, only around dialogs.

[2019-12-25 18:22] th3coop commented on #3812
@babobski can you link the ticket you're referencing?

[2019-12-25 18:31] th3coop commented on #3810
@agroszer, this isn't going to be addressed in Komodo core.  This would require overriding mozilla bindings that I'm certain a majority of users would not be interested in overriding.  In OSX, Linux and Windows Ctrl + Tab is change tab for most programs (that have tabs).

[2019-12-25 18:47] th3coop commented on #3813
@babobski, how did you get to that broken docs link?  Where is it referenced?

I'm assuming based on the forum post that you're looking for this page:http://docs.komodoide.com/SDK/api/legacy/commands

Komodo docs are maintained here now:
http://docs.activestate.com/

Hrm, doesn't look like our legacy sdk stuff made it to the new docs though.  I can't seem to find it there.

[2019-12-25 20:37] mickey263 commented on #3694
Christmas gift ? 😁 Thanks you !!

Le mer. 25 déc. 2019 à 19:03, Carey Hoffman <notifications@github.com> a
écrit :

[2019-12-25 22:11] th3coop commented on #3694
@mickey263 unfortunately this one got under the radar and won't be in the next release.

[2019-12-26 09:53] mickey263 commented on #3694
No problem. I hope it will be in the next release.

Have a good day.

Le mer. 25 déc. 2019 à 23:11, Carey Hoffman <notifications@github.com> a
écrit :

[2019-12-26 10:27] babobski commented on #3812
#3297

[2019-12-26 10:28] babobski commented on #3811
No in references I've seen it before, but you're right I've never seen it on the main window.

[2019-12-26 10:29] babobski commented on #3813
The dead link can be found on this page:

http://docs.komodoide.com/SDK/macroapi

[2019-12-26 10:32] babobski commented on #3813
and I'm not looking for the commands page, but the page where all command id's are listed

[2020-01-02 18:54] th3coop commented on #3810
@agroszer I didn't see your comment about the `Most recent  viewed file` key binding option in the [forum post](https://community.komodoide.com/t/userscript-to-make-sure-editor-tab-gets-swtiched-on-ctrl-tab/4833/2).  I had no idea this existed.  Apparently we override things and this should work as you requested.  I'm gonna re-open.

One note:  Mentioning that you had overridden the above keybindi

[2020-01-02 18:57] th3coop commented on #3810
I'm really not sure about this though.  This means we have to disable `ctrl+tab` basically everywhere in Komodo that has tabs.  We shouldn't even have an override of that option in our keybindings.

[2020-01-03 00:36] th3coop commented on #3812
@babobski so the patch I did never fixed this for you?  I assume you've been using the nighlies of 11?

[2020-01-03 00:37] th3coop commented on #3811
And to clarify, THAT is what you're reporting right?  That there is a border around the main window?  Can you make sure that a customization that you've made isn't causing this?  I'm not able to reproduce this.

[2020-01-03 01:02] th3coop commented on #3813
@babobski thanks a lot for the details.

If you want a list of `cmd_*` you could run this in the JS console:
`for (var i of ko.keybindings.manager.commanditems) {console.log(i.name)}`

You can also open command and use `cmd_` as the search query.  I think we'll likely remove that reference and either have something internal (Help > List command IDs) or something else as this is a very dynamic feat

[2020-01-03 12:08] rovf opened #3816 "Find / match whole words button not visible under the “Isotope” theme"
This issue has been discussed in detail in https://community.komodoide.com/t/how-can-i-deselect-match-whole-words-in-find/4832, where it was recognized to be a bug in “Isotope”. It is about using the Edit/Find command:

When you first invoke “Find”, ‘match whole words’ is not selected. Clicking on the button to turn on “match word” draws a tiny rectangle around the button, and using “Tomorrow_Ligh

[2020-01-03 13:03] agroszer commented on #3810
Sorry, actually on second thought the ctrl+tab hotkey sounds like deeply hardwired in mozilla. Anyone who wants to override has the solution in the forum post.
A bit misleading was the default key binding for ctrl+tab to "General: Most recently viewed file".
The other misleading thing is you **can** assign the ctrl+tab hotkey in the preferences modal (prolly because it has no tabs).

[2020-01-04 07:57] pmne324 commented on #2199
Thank you very much

[2020-01-05 20:48] jimtut opened #3817 "Can't sign in to the ActiveState Platform in Komodo IDE 12"
### Short Summary
I installed the new Komodo IDE 12, and created an AS Platform acct.  I can sign into the Platform on the web, but when I try to use the same creds in the IDE, I get an error.

### Steps to Reproduce

Launch IDE, log into Platform

### Expected results

Platform login, IDE opens

### Actual results

Error message "Saving private key failed with: You are not authenticated.  Please

[2020-01-06 15:57] jimtut commented on #3817
Some additional info.  I repeated the same install on my Windows 10 laptop, and get the exact same error, using the same Platform login.

I actually have an additional Platform login thru my company, and I tried using that login (both as email and as a username), and I still always get the same error.

I don't think Komodo 12 is working at all...

[2020-01-06 18:47] th3coop commented on #3817
@jimtut sorry for the frustrating experiencing.
Please grab / check the following:
- After starting Komodo and producing the login fail:
  - grab Komodo logs, per platform config folder locations ref: https://community.activestate.com/faq/komodo-file-locations
  - grab state tool logs:
    - Windows:  `%AppData%\ActiveState\cli-unstable\log.txt`
- confirm the state tool was installed.
  - On Windo

[2020-01-06 19:27] jimtut commented on #3817
I've attached all the logs from the previous failure here.
[pystderr.log](https://github.com/Komodo/KomodoEdit/files/4027476/pystderr.log)
[pystdout.log](https://github.com/Komodo/KomodoEdit/files/4027477/pystdout.log)
[log.txt](https://github.com/Komodo/KomodoEdit/files/4027479/log.txt)

State tool is installed: C:\Users\tuttlj\AppData\Roaming\ActiveState\bin\state.EXE

**Version:**
ActiveState C

[2020-01-06 20:42] th3coop commented on #3817
@jimtut, thanks for reporting back so quick.  Could you use the state tool to log out in the terminal the *Help > Troubleshooting > Restart in Safe-Mode* in Komodo?  You should get the login dialog again.  Please let me know if you get the same error.

Note to self:  The terminal session shouldn't effect the Komodo authentication.  Looking at the code it looks like we might be throwing away the er

[2020-01-07 12:10] Zebrafish007 commented on #3386
Some modifications in version 11.1 appear to have solved the raised issues... for now. If and once this happens again I will create a new ticket, link to this issue as this ticket was originally about codeintel. Thanks for the help thus far. Very much appreciated!

[2020-01-07 12:10] #3386 closed

[2020-01-07 13:22] jimtut commented on #3817
I launched my original Komodo IDE 12 again, and it did NOT prompt to login, and came right up.  I did "state auth logout", and then restarted in Safe Mode.  Komodo prompted me to go thru the init screens again (Color Scheme, etc.) and then prompted me to login.

The login failed, but the error was actually different this time!
`Saving private key failed with: You need to be authenticated to run th

[2020-01-07 13:23] jimtut commented on #3817
Oh, the linked patch above is not available, at least not to me.

[2020-01-07 22:59] th3coop commented on #3817
The IDE repo is private.  That comment was a "note to self".  The patch won't help any way.  I've reverted it since.

I had a look through the code and I unfortunately asked you to grab the wrong log file for the state tool.   On Windows it will be in *[your Komodo profile folder]\XRE\state\log.txt*.

I'm going to get you to test this slightly differently too:
- stop Komodo
- open a cmd terminal
-

[2020-01-08 15:17] jimtut commented on #3817
To answer the not-so-dumb question, yes, I had tried to repeatedly login using the dialog (without closing it).

But, something has changed (at least on my PC) since using the state tool and restarting in Safe Mode.  Whether using regular mode or Safe Mode, I can now login thru the IDE/UI to the state platform.  I will try on my Mac tonight to see if that's working.  I'm attaching the new/temp sta

[2020-01-08 17:00] zwierko opened #3818 "Click and drag in line number gutter does not select lines"
### Short Summary
When clicking and dragging in the line number gutter, only the first line is selected instead of multiple lines. This used to be the behavior in previous versions of Komodo, and is standard behavior in most other editors.

### Steps to Reproduce
Click and drage the mouse in the gutter next to lines your would like selected.

### Expected results
Multiple lines are selected.

###

[2020-01-08 23:46] th3coop commented on #3818
@zwierko I've honestly never heard of this.  Which version of Komodo do you recall using this in?  It'll help me track down what changed.

[2020-01-08 23:47] th3coop commented on #3817
@jimtut thanks for the heads up and new logs.  Nothing helpful in those logs unfortunately.  That's a pain but not your problem.  At least we've got you up and running.  Thanks for your patience!

If anyone else comes across this, please grab the logs mentioned in this comment:
https://github.com/Komodo/KomodoEdit/issues/3817#issuecomment-571812613

[2020-01-09 00:28] jimtut commented on #3817
Some more info from my Mac:

- I still can't login directly on my Mac

- The state tool does not exist, at least for me.  The directory ~/Library/Application Support/KomodoIDE/12.0/XRE/state/ exists, but it's empty.

- I renamed the existing 12.0 dir above, relaunched from the Finder icon, and got the same login error (and still nothing in the state/ dir).

- I was going to try the verbose stuff a

[2020-01-09 00:34] th3coop commented on #3817
I'll try this right now.  Thank you very much for the follow up @jimtut.

[2020-01-09 01:07] th3coop commented on #3818
@zwierko nvm, looks like it work sin Komodo 10.  As a workaround, is anything preventing you from clicking just to the right, in the editor area instead of the line number, and doing the same action?  This should achieve the same thing.

[2020-01-09 01:35] th3coop commented on #3817
No dice on Windows.  And the repro steps don't work on Mac either :(

[2020-01-09 01:36] th3coop commented on #3817
I'll have another go at this tomorrow with fresher eyes.

[2020-01-09 15:18] zwierko commented on #3818
That's what I have been doing. I just wanted to report it in hopes the behavior would be fixed back to what it was. It also makes Komodo consistent with most other popular IDEs and editors. It's a minor thing though, so I appreciate your time.

[2020-01-09 18:42] th3coop commented on #3818
Absolutely.  I appreciate the report.  I just wanted to make sure you're not blocked.  Thanks for the report, @zwierko.

[2020-01-09 23:40] shawnlaffan commented on #3817
I get the same issues on Windows.

If I run Komodo 12 from a Cmd prompt, with the variables set as per https://github.com/Komodo/KomodoEdit/issues/3817#issuecomment-571812613 then it starts.

However, there is no state tool under ```%AppData%\ActiveState\bin\state.exe``` (the folder is empty).

Requested ...\XRE\state\log.txt attached.

[log.txt](https://github.com/Komodo/KomodoEdit/files/4043115/

[2020-01-10 19:32] th3coop commented on #3817
@shawnlaffan what does `where state` output in CMD?

Nothing helpful in those logs unfortunately.  Can you confirm that you were having the exact same issue in that every time you started Komodo using the method other than CMD, the login dialog would error out?  Are you able to now start Komodo in the non-CMD flow, with a reset profile, and have the login dialog work?

[2020-01-10 22:52] shawnlaffan commented on #3817
@th3coop -

Yes, I have the exact same error each time I try to log in using the start menu.

I cannot start Komodo 12 from the start menu or by double clicking on ```C:\Program Files (x86)\ActiveState Komodo IDE 12\komodo.exe```.

The state tool exists after I run Komodo 12 from the Cmd prompt, but running Komodo 12 from the start menu deletes it (presumably related to the failed login?).  It tak

[2020-01-10 23:39] th3coop commented on #3817
@shawnlaffan Perfect.  Can you share the log.txt file when this happens?  The last logs you shared were from a successful login which isn't going to tell us much.

[2020-01-10 23:48] shawnlaffan commented on #3817
@th3coop -

I deleted the profile folder ```C:\Users\user\AppData\Local\ActiveState\KomodoIDE\12.0\XRE``` and then tried running komodo from the start menu.  There is no state folder under ```...\XRE```.

[2020-01-10 23:52] th3coop commented on #3817
Are you prompted to login again and that is successful?

[2020-01-10 23:55] shawnlaffan commented on #3817
Sorry, forgot to say the login fails with the same error.

The state tool is now generated and retained under ```C:\Users\user\AppData\Roaming\ActiveState\bin```.  The deletion I reported might be an interaction with the differing profiles used.

[2020-01-11 01:02] th3coop commented on #3817
Ok, that's interesting.  So the follow seems to be the flow
- Start Komodo
- state tool get installed, as expected, to **C:\Users\user\AppData\Roaming\ActiveState\bin**
- Login proceeds but fails with `You are not authenticated. Please restart Komodo is this problem persists` (please confirm that, there have been two errors reported so far)
- no **[profile dir]\XRE\state** folder is created

Defin

[2020-01-11 01:20] shawnlaffan commented on #3817
My error message is "Saving private key failed: You are not authenticated.  Please restart Komodo if this persists".  This is the same as reported by @jimtut in https://github.com/Komodo/KomodoEdit/issues/3817#issuecomment-571583122

Renaming ```%LOCALAPPDATA%\ActiveState``` gives me an error due to a file or folder being open in another program.  There's nothing Activestate or Komodo related that

[2020-01-11 01:21] th3coop commented on #3817
@shawnlaffan could you also grab you **pystderr.log** file from your profile next time you reproduce this?  I think I see something in the logs that @jimtut shared now that I look (desperately) again.

[2020-01-11 01:29] shawnlaffan commented on #3817
@thcoop - after rebooting I can rename ```%LOCALAPPDATA%\ActiveState```.  After that, Komodo 12 starts up properly and I can log in.  Komodo 11 also starts.

The pystderr log is attached from the renamed ```%LOCALAPPDATA%\ActiveState\KomodoIDE\12.0```.

[pystderr.log](https://github.com/Komodo/KomodoEdit/files/4048819/pystderr.log)

[2020-01-11 01:31] th3coop commented on #3817
CLUES!  @shawnlaffan can you zip up your original `%LOCALAPPDATA%\ActiveState` and send it to careyh@activestate.com?

[2020-01-11 04:28] shawnlaffan commented on #3817
Can do.  It's 1.04GB uncompressed, though.  Do you need the whole thing, or just the 11.1 and 12.0 components?

[2020-01-11 19:35] th3coop commented on #3817
Just the 11.1 and 12 folders will be fine, thanks @shawnlaffan.

[2020-01-11 22:51] shawnlaffan commented on #3817
Thanks @th3coop .  Zip file has been sent using Cloudstor file sender.

[2020-01-13 22:21] JesperIRL opened #3819 "Folding in text files"
### Short Summary

It would be nice to have the ability to fold text in plain text files. It’s really good for note-taking, lists of different kinds et.c.

For example there is an editor called FoldingText that is using markdown to identify blocks to fold and a few other things (it's only the folding I'm looking for here). (https://www.foldingtext.com)
Lines starting with a # identifies a block an

[2020-01-13 23:58] th3coop commented on #3817
100% reproducible with this profile.  I don't think I've ever been so happy in my entire life.  Thanks @shawnlaffan.  Digging into the code to see what's going on.

[2020-01-14 02:59] th3coop commented on #3817
@jimtut, do you have your PATH system var overwritten in **Edit menu > Preferences > Environment**?

[2020-01-14 05:26] shawnlaffan opened #3820 "Preferences | Environment - prepend instead of override"
### Short Summary

It would be useful to be able to prepend (or append) to environment variables instead of overriding them.

### Steps to Reproduce

Edit an environment variable under Preferences | Environment.

Main example is the PATH variable.

### Expected results

(preferred more so than expected)

To be able to prepend to the path.

### Actual results

PATH is overridden, as per current des

[2020-01-14 15:36] jimtut commented on #3817
No, I'm not overriding anything there, although my Windows PATH (system and user) is heavily customized.  Checking it now, I have the bin dir (where state.exe is) on the path, but only Komodo 10 on the path (not this komodo 12 dir).  Interesting.  Not sure when I ran that komodo cmd in the terminal earlier (the one that jump-started my env) if that was launching 10 or 12, I don't think I checked c

[2020-01-14 18:00] th3coop commented on #3817
@jimtut I wonder if you might have had it overwritten at some point as we did a lot of profile juggling.  It also turned out that I was right that we were losing logging info that would help diagnose this issue but I think I did the original patch wrong.  I've redone it.  I've got a few patches around this ticket that I'm confident will resolve this issue for most users.  There's a lot of moving p

[2020-01-14 18:01] th3coop commented on #3817
@jimtut and @shawnlaffan , thanks so much for the assistance.  I wouldn't have figured this out before release time with out the help.

[2020-01-14 18:15] th3coop commented on #3817
Private repo commit: https://github.com/Komodo/KomodoIDE/commit/82d897d7b928a44ec48c28e7353aa9da614c8387

[2020-01-14 18:15] #3817 closed

[2020-01-14 18:24] jimtut commented on #3817
Thanks for taking it seriously, and fixing it!

[2020-01-15 20:03] th3coop commented on #3817
Komodo 12 is out.  Thanks again for helping get this in under the wire:
http://downloads.activestate.com/Komodo/releases/12.0.0/

[2020-01-15 20:52] babobski commented on #3812
No sorry, there are still to many issues that I'm still on 10.2.3.
There where too many bugs in js and css like languages, that it would intervene with my workflow to much.

[2020-01-15 20:57] babobski commented on #3811
For me when I'm in a minified window and I can resize the window, when I resize it there is a lag causing the same black borders:

![afbeelding](https://user-images.githubusercontent.com/3530262/72470957-0426a700-37e2-11ea-9b13-c7ddbc091b1e.png)

[2020-01-16 16:43] th3coop commented on #3812
@babobski ahh that's unfortunately.  It would have been helpful if you had reported back on the original ticket so we knew it wasn't fixed.  I'll re-open that one, link and close this one.

[2020-01-16 16:43] #3812 closed

[2020-01-16 16:43] th3coop commented on #3297
This is not fixed:
https://github.com/Komodo/KomodoEdit/issues/3812

[2020-01-16 16:45] th3coop commented on #3811
@babobski I'm not able to follow what the issue is just from text and a screenshot.  Any chance you can make a brief screen capture of what's happening?

[2020-01-16 17:08] babobski commented on #3811
There is some lag between the inner and the outer of the window when resizing. The inner has a delay causing the black borders.

[2020-01-16 17:13] babobski commented on #3812
@th3coop I know, but there where various tickets arround this issue. It's fixed i css but not in the other languages (less, scss)

[2020-01-16 18:10] joelabair opened #3821 "Komodo IDE 12 devdocs links don't open"
Click the "Open devdocs.io" icon on the bottom left corner of the app.
Click on any outbound link (i.e. welcome screen, or MDN references within the docs).

Expected - The link opens in either a komodo window or in my native browser.

Actual - 2 completely blank (100% white) komodo windows open.

Fresh installation:
  - Komodo IDE 12
  - on Fedora 31 (linux x86_64)

[2020-01-16 20:04] th3coop commented on #3821
@joelabair repro then grab your logs as well: *Help > Troubleshooting > View Log File*.  I can't reproduce this on Win, OSX, or Ubuntu 19.10.  I do get a brief white screen while devdocs.io loads then asks you to accept cookies but it does load.

[2020-01-17 09:31] ocstx opened #3822 "problem in komodo 12 installation when adding $PATH to .bashrc"
After installing komodo 12 as a user in my completely updated Centos 7 this line appeared in my ".bashrc":
\nexport PATH="$PATH:/home/myuser//.komodoide/12.0/XRE/state" # ActiveState State Tool

the "\n" is included at the behining, so when I open a new bash it outpus an error:
"bash: nexport: command not found..."
My gues is that there is a print that includes an "enter" (\n) at the beginning tha

[2020-01-17 17:40] th3coop commented on #3822
@ocstx thanks for digging into this.  Could you do me a favour by removing that line from your *.bashrc*, deleting the installed state tool at referenced path, then manually install again and see if the issue still appears?

### Install Command for bash
`sh <(curl -q https://platform.activestate.com/dl/cli/install.sh)`

 I want to double check that Komodo isn't some how injecting the erroneous `\n

[2020-01-17 18:50] joelabair commented on #3821
Okaaaaayyy.... Very strange. Today it's working just fine... Opens all links in chrome now.

af far as I can recall - the only thing I've changed is fixing a ENV export in my .bashrc that was added by the komodo installer

changed:
`\nexport PATH="$PATH:/home/joelbair/.komodoide/12.0/XRE/state" # ActiveState State Tool`
to
`export PATH="$PATH:/home/joelbair/.komodoide/12.0/XRE/state" # ActiveState

[2020-01-17 19:09] #3821 closed

[2020-01-17 19:35] th3coop commented on #3822
Fedora user hitting same issue: https://github.com/Komodo/KomodoEdit/issues/3821#issuecomment-575749699

[2020-01-17 19:37] th3coop commented on #3821
@joelabair thanks for the heads up.  Not sure if those are related, it doesn't seem like they would be but thank you for letting me know.  Another user got the same error.

[2020-01-17 20:22] joelabair commented on #3821
The only other thing that changed was package updates to google chrome and opera.

[code]

I left Komodo IDE 12 open with 1 project loaded, running all night.

Wish I had noted weather the project was loaded prior to noticing the devdocs issue...

[2020-01-17 20:42] th3coop commented on #3822
@ocstx I should clarify;  I assume you were able to work around this on your own and are just letting us know what you found, correct?

[2020-01-20 00:32] th3coop opened #3823 "state tool sdk auth doesn't handle two step auth"
### Short Summary

Pretty straight forward.  Two step auth, when enabled, breaks state tool integration.

[2020-01-20 01:08] th3coop opened #3824 "Html completions not working in TPL files"
### Short Summary

Titles says it all.  They work in edit but not in IDE.

[2020-01-20 15:29] jmcdonagh opened #3825 "Mac Homebrew wget breaks state tool and Komodo IDE 12 installations"
Hey chums, I am recently getting back into development and used to own Komodo around the version 5 or 6 days so I downloaded and installed 12. When I got to the ActiveState platform login it would fail with a non-specific error like this report here:

https://community.komodoide.com/t/cant-login-to-komodo-saving-private-key-failed-with-blank-error/4877/9

So I went and tried to install state tool

[2020-01-20 17:59] th3coop commented on #3825
@jmcdonagh thanks a lot for the thorough report!

Note for dev: https://www.pivotaltracker.com/story/show/170805721

[2020-01-20 18:39] th3coop commented on #3822
Dev reference: https://www.pivotaltracker.com/story/show/170806525

[2020-01-21 00:55] th3coop opened #3826 "Windows state tool install fails:"
### Short Summary

Ref: https://community.komodoide.com/t/saving-private-key-failed-with-the-system-cannot-find-the-path-specified/4859/9

I've not been able to reproduce this but if anyone comes across this and can add more data please do.

- In a Windows VM I confirmed that I CANNOT run scripts in Powershell.
- Deleted already installed state tool, Komodo profile.
- Komodo starts up no problem,

[2020-01-21 08:56] ocstx commented on #3822
Sorry for the delay

yes my komodo is working, actually I comented the line since I don't
know what it does and komodo is working.

Do you still want me to test what you propose in the previous email?

thank you very much

OCS

On 17/01/2020 21:42, Carey Hoffman wrote:

[2020-01-21 18:04] th3coop commented on #3822
No thank you, @ocstx.  Someone confirmed internally.  Thanks for checking back.  FYI, the State Tool is a binary from us that integrates with a bunch of functionality in Komodo 12.  Here's more info:
http://docs.activestate.com/komodo/12/state-integration/

[2020-01-22 17:51] Nemial opened #3827 "Don't Correct Work JS Beautify"
### Platform Information

*Komodo IDE
*Komodo Version 12.0.0

The standard JS Beautify formatter does not work correctly. It does not recognize JavaScript arrow functions, function = () => {} and corrects them to function = () = > {}, which naturally causes the function to fail.

[2020-01-22 18:46] th3coop commented on #3826
Had someone try to reproduce this internally and it's just not panning out.  If someone comes across this you can add details and we might re-open.

[2020-01-22 18:46] #3826 closed

[2020-01-22 19:19] Nemial opened #3828 "Don't Work Autocomplete JS"
### Short Summary
Autocompletion of JS functions does not work

### Steps to Reproduce
Even if you enter the `console.` they don't complement anything, although they should. Maybe I didn't include autocomplete and if so, how do I enable it to make it work

### Platform Information

*Komodo IDE
*Komodo Version 12.0.0
*Operating System (and version)?*

[2020-01-22 20:55] th3coop commented on #3827
@Nemial your best bet will be to a new formatter in your preferences:
- Install the version of the formatter you want to use
- *Edit Menu > Preferences > Formatters*
- Click the `+`
- Name and language are obvious
- Formatter > Other > Generic Commandline-line formatter
- Find the formatter install using the browse button
- Add whatever options you'd like.

[2020-01-22 21:26] th3coop commented on #3828
Looks like this one has slipped under the radar for a while: https://github.com/Komodo/KomodoEdit/issues/125

Going to close this in favour of #125

[2020-01-22 21:26] #3828 closed

[2020-01-22 22:32] Nemial commented on #3827
I tried to do this, but js-beautify doesn't work with standard options,but only in the style where changes are visible when reloading files in the IDE. And alas, I could not overcome it in any way.

`js-beautify -o file.js` doesn't work if you do everything according to your advice

[2020-01-22 22:52] Nemial opened #3829 "API Catalogs don't enabled"
### Short Summary
How to include an API in the Komodo IDE's catalogs API 12. If there is no button or check mark and it is not clear whether they are enabled or not

### Platform Information

*Komodo IDE 12.0.0

### Additional Information

![Снимок экрана_2020-01-23_00-50-25](https://user-images.githubusercontent.com/18151125/72941826-9b5ba380-3d7a-11ea-9d87-9e215fd7f124.png)

[2020-01-23 01:21] th3coop commented on #3829
@Nemial if you have questions about Komodo you can post them in the forums: https://community.komodoide.com/

You select then click OK or Apply

[2020-01-23 01:21] #3829 closed

[2020-01-23 01:22] th3coop commented on #3827
@Nemial could you share a screenshot of your config?  I'm not clear what issue you're having.

[2020-01-23 12:16] Nemial commented on #3827
![Снимок экрана_2020-01-23_14-14-28](https://user-images.githubusercontent.com/18151125/72983824-e90ff480-3dea-11ea-9778-3f2ad15b82d5.png)

[2020-01-23 23:29] th3coop commented on #3827
That field is expecting an executable file which a JS file is not.  Isn't there a binary/executable file that gets installed?

[2020-01-24 13:49] Nemial commented on #3827
There will be no difference if I put a file from the`/usr/bin` directory in that field , I tried to do this, but the result is the same. And all because it's the same file with this content
[code]

[2020-01-24 17:53] th3coop commented on #3827
@Nemial what IS that file?  It looks like it's loading node cli.  How are you using it?  What did you change in the configuration dialog?

I also note that you are on Linux, I thought you were on Windows for some reason.  There should be an executable file in your *node_modules* folder for js-beautify.  What does `which js-beautify` return?

[2020-01-24 20:06] Nemial commented on #3827
This is a file from a folder  `/usr/lib/node_modules/js-beautify/js/bin/`. I use it to format my code(remove extra spaces, indents, and align everything). Yes I find on Linux Slackware Current.
When used(in the options, specify use when saving a file), it gives

[code]

[2020-01-24 20:07] Nemial commented on #3827
However, if you use js-beautify from a regular linux terminal, everything works. It does not work in the IDE

[2020-01-24 21:07] th3coop commented on #3827
@Nemial try removing the `-o`.  Komodo should handle the input and output file options.

[2020-01-24 21:12] Nemial commented on #3827
Oh, thank you. It's finally working

[2020-01-24 21:13] th3coop commented on #3827
Oh awesome!  Ok cool.  Thanks for your patience @Nemial !

[2020-01-24 21:13] #3827 closed

[2020-01-26 15:18] geertemo opened #3831 "Windows error installing Komodo Edit 12"
### Short Summary
I have Komodo Edit 11.1.1 installed on my Windows 10 machine.
When I install Komodo-Edit-12.0.0-18431.msi Windows gives the following error : Another version of this product is already installed. Installation of this version cannot continue. To configure or remove the existing version of this product, use Programs and Features in the Control Panel

### Steps to Reproduce
evident.

[2020-01-27 22:37] th3coop commented on #3831
@geertemo thanks for reporting this.  Komodo IDE is free now so you can use that if you like.

I'll push a fix for this in a nightly tomorrow when the build is ready: https://github.com/Komodo/KomodoEdit/commit/6e38234d05debe8f5e93500331b145fbf88df105

[2020-01-27 22:37] #3831 closed

[2020-01-29 21:29] Nemial opened #3832 "Komodo IDE 12 Don't Save Configuration Eslint"
### Short Summary
Good afternoon. I have a problem. I used to use JSHint Linter and everything was fine.The other day I decided to try out ESlint. And here is a strange situation. I select the bin file and its config in the settings, click APPLY and OK, but when I go back to the settings, I see that nothing was applied

### Platform Information

*Komodo IDE 12.0.0
*Slackware Current

[2020-01-29 21:32] th3coop commented on #3832
@Nemial please post in the forums if you're unsure about configuration:
https://community.komodoide.com/

If we find a bug we can create a ticket for the found issue

[2020-01-29 21:32] #3832 closed

[2020-01-29 22:42] Nemial opened #3833 "Resets the selection of ESLint as a Linter"
### Short Summary
When you select ESLint as a Linter and click the APPLY and OK buttons, and when you re-enter the settings, you can see that these settings were reset, or simply not saved

### Platform Information

*Komodo IDE 12.0.0
*Slackware Current

[2020-01-30 15:37] geertemo commented on #3831
@th3coop I see you made changes to the code and you said to "push for a fix in the nightly tomorrow", but the msi I downloaded today still gives the error. Can you give me an estimatie when the fixed msi will be available on the download page?

[2020-01-30 19:32] th3coop commented on #3833
Thanks for the report @Nemial.  I found the offending code I think.  Note this link is private, it's a references for me later when i can get to this task:
https://github.com/Komodo/KomodoIDE/commit/07d2f50ae9d67f2b6155417f4f58f46053d04509

[2020-01-30 21:57] th3coop commented on #3831
Not sure what you downloaded but the nightlies are here: http://downloads.activestate.com/Komodo/nightly/komodoedit/latest-12.0.x/

Is that what you downloaded?  If not, give that a try.

[2020-01-30 22:52] th3coop opened #3834 "Golang support isn't working"
### Short Summary

Code intel features aren't working, go to def, or completions.

[2020-01-30 23:08] th3coop opened #3835 "Update Paramiko to latest version"
### Short Summary

We should update Paramiko to a newer version if it's an option.  ie.:
- supports python 2
- doesn't totally break integration with komodo (we should still do it if it does but it influences when we can get to it)

[2020-02-02 21:00] Nemial opened #3836 "[Bugs] Don't Work local debugger NodeJS"
### Short Summary
When using the Local NodeJS debugger (version 12.4.1), it does not work

### Steps to Reproduce
1.Open any JS file
2.Select NodeJS language
3. Go to the Debug tab and run

### Actual results
Debug Output:
[code]

### Platform Information

*Komodo IDE 12.0.0
*Slackware Current

[2020-02-03 22:05] JesperIRL opened #3837 "Two minute freeze when saving file in KomodoIDE"
### Short Summary

It seems KomodoIDE is trying to access the filesystem of all open files when a single file is being saved. This causes a delay for exactly two minutes every time I save a local file if I have files open on servers that I currently can't access.

I have tabs with open files from a local server in my home, tabs with files from the local harddrive, and tabs with files on servers I

[2020-02-03 22:10] th3coop commented on #3837
@JesperIRL are you sure you don't have ctrl+s mapped to save all or something?  Could you go into your prefs (Komodo menu > Preferences > Keybindings) and make sure you're using the Default scheme and try again?

[2020-02-03 22:17] th3coop commented on #3836
https://github.com/Komodo/KomodoEdit/issues/3749

[2020-02-03 22:17] #3836 closed

[2020-02-03 22:45] JesperIRL commented on #3837
It's the default scheme. "General: Save" is "Meta+S".
Save all requires the ctrl key as well.

[2020-02-03 22:53] th3coop commented on #3837
Oh right, you're on OSX, Meta + S.  Thanks for double checking.

Could you open the JS Console, *View menu > Tabs & Sidebars > Console*, and run the following, `require("ko/logging").getLogger("koSFTPConnection").setLevel(10)`, then reproduce the issue and email me your logs, careyh@activestate.com.

Also, could you see if setting the timeout pref in your server settings help at least prevent this

[2020-02-04 16:27] geertemo commented on #3831
I am just a humble user ;-) , so I downloaded from https://www.activestate.com/products/komodo-ide/downloads/edit/ (version 12.0.0, today still the current, not upgradable version)

Installation via the nightly link you provided worked like a charm. Thanks!
Will I be able to update this version with regular updates via the "Check for updates..." option in the menu, or do I have to reinstall the pr

[2020-02-04 18:25] th3coop commented on #3831
@geertemo, glad that worked for you!

When 12.0.1 is officially release you will be prompted to updated to it.  If we release new nightlies you will also be prompted to update to those.

[2020-02-07 19:21] th3coop opened #3838 "Auto-update restart triggers "crashed" startup"
### Steps to Reproduce

Install a previous nightly.  http://downloads.activestate.com/Komodo/nightly/komodoide/2020/01/2020-01-29-00-12.0.x/
Start it
Help menu > Check for updates...
Do the update and click *Restart* when prompted

### Expected results

Update and restart with my workspace

### Actual results

"Komodo failed to close cleanly" dialog is shown and the previous workspace is NOT loade

[2020-02-07 22:39] will-ca opened #3839 "Complete failure of CodeIntel for any Python3 file that includes both an F-String and an iterable unpack."
### Short Summary

I have a moderately large Python3 codebase in which Code Intelligence, Autocompletion, and Calltips have never worked, even for built-ins.

So far, I've managed to track the problematic code down to two expressions that were originally parts of instance methods in a single file.

### Steps to Reproduce

1. Write, open, or paste any Python3 code that includes both an iterable unp

[2020-02-08 22:40] will-ca commented on #3839
I just tested and found this still happens on `Komodo Edit, version 12.0.0, build 18431, platform linux-x86_64, Built on Tue Jan 14 18:20:37 2020.`

[2020-02-10 05:46] #3838 closed

[2020-02-10 18:47] babobski opened #3840 "Addon information incorrect"
![afbeelding](https://user-images.githubusercontent.com/3530262/74179331-7f427800-4c3d-11ea-9b45-3e9b22a65808.png)

### Short Summary
Just updated version and ko version number, is no newer version available.
Might be a duplicate off #1578
But please fix it ;)

### Expected results
Only lower version numbers are available, so nu updates should be shown.

### Actual results
Update button is present

[2020-02-10 21:58] th3coop commented on #3839
@will-ca , thorough report, thank you for the digging.

[2020-02-10 21:59] th3coop commented on #3839
IDE has a different implementation of code intelligence if you want to try that.

[2020-02-10 23:17] th3coop commented on #3840
hey @babobski, thanks for the poke.  I can't actually tell if this is the same as #1578.  The other ticket seems to be talking about *Packages > Manage > List update available*, and in this ticket you're in *List installed*.  Is *List installed* supposed to list available versions?

[2020-02-11 00:13] th3coop commented on #3393
@Naatan did you have any luck with this?  Looks like we need to bump up supported OS in the docs

[2020-02-11 16:25] Naatan commented on #3393
I've not made any progress on this since my last post.

[2020-02-19 18:21] RemcoWessels commented on #3716
I just started with IDE 12.0.1 and the bug is (still?) alive and kicking.

[2020-02-19 18:33] JesperIRL opened #3841 "Improve block marking using arrow keys"
Let's say we have a block of html code like this:

[code]

and I want to block-mark this using the arrow keys. I start at the upper left corner (before <p>), shift+ctrl+down twice, and shift+ctrl+left once to get to the end of the first long text line. From here it’s fairly quick to go down a few lines to get to the bottom right corner of the block I want to mark, **but**, when I get to a line tha

[2020-02-19 18:52] th3coop commented on #3297
That might explain why it's still triggering in SCSS and LESS files, https://github.com/Komodo/KomodoEdit/issues/3716

[2020-02-19 18:52] #3716 closed

[2020-02-19 18:52] th3coop commented on #3716
Closing in favour of the original ticket, #3297.  Evidently this was never fixed.

[2020-02-19 18:56] th3coop commented on #3812
@babobski, BAH. I read this ticket wrong apparently :(  Sorry for the noise.  Keeping this ticket closed for https://github.com/Komodo/KomodoEdit/issues/3716

[2020-02-19 18:58] th3coop commented on #3297
Sorry for the noise.  This IS fixed.  Less and SCSS are not fixed.

[2020-02-19 18:58] #3297 closed

[2020-02-19 19:01] th3coop commented on #3716
Sorry folks.  Miss-reading ticket descriptions.  I'm NOT closing this ticket.

[2020-02-19 19:48] th3coop commented on #3716
This is silly I missed this.  I've is easy (and done).  I will publish a nightly with the fix in it tomorrow, should be available after 12 PM PST.
If you don't hear back from me in this ticket look [here](http://downloads.activestate.com/Komodo/nightly/komodoide/) for a new nightly (current was release Feb 05, build #91854).  If you don't see a newer nightly after 12 PM (lunch) tomorrow, ping me h

[2020-02-20 20:39] JesperIRL opened #3842 "Commenting out block selections breaks arrow key behavior"
### Short Summary

After commenting out some lines that were marked by a block comment, the “block mode” seems to linger. Whenever I use the up or down arrow keys the cursor seems to stretch over the touched lines, and if I start typing the text appears on all lines covered by the cursor. Esc will cancel the current selection, but the next time I use up or down arrow keys the same behavior comes b

[2020-02-20 20:56] JesperIRL commented on #3841
It seems the information in the status line is broken as well.
<img width="378" alt="Screen Shot 2020-02-20 at 21 47 07" src="https://user-images.githubusercontent.com/39598758/74977714-892d5d80-542b-11ea-8288-780a923aa291.png">

As seen in the picture the "Sel" only counts the columns that are present in the last line, the same for the "Col" number. As I continue to the right the counters stop wh

[2020-02-20 21:13] JesperIRL commented on #3841
I had a look at the code related to the status line and even though completely unrelated to the bug in question, may I suggest to apply this minor patch for the sake of readability:

KomodoEdit/src/chrome/komodo/content/statusbar.p.js

`@@ -185,18 +185,12 @@
                 {
                     count += (selectionEnd - selectionStart);
                     selection.push(scimoz.getTextRange(sel

[2020-02-21 00:29] th3coop commented on #3716
Should be fixed in this build:
http://downloads.activestate.com/Komodo/nightly/komodoide/latest-12.0.x/

CC: @babobski

[2020-02-21 02:36] babobski commented on #3441
@th3coop can you maybe fix this? test driving the semicolon fix. But I'm unable to create a less or scss file from scratch. Unable with new 'file from template' and a new file gives me a php file (from my config).

I still think this is more a bug than a enhancement. As I'm really unable to create the files out of the blue. If I compare the functionality with K10 there is a lot missing beside the

[2020-02-21 02:47] babobski opened #3843 "CSS files (including less or scss) are not showing there autocompletions"
## Short Summary
Test driving K12 but missing the auto completions after the attributes.

### Steps to Reproduce
[code]
- add this piece of code
- type 'col'
- autocomplete color:

No auto completions are shown.
If you backspace the white space, you will see the are there:

![afbeelding](https://user-images.githubusercontent.com/3530262/74999631-72ebc580-545c-11ea-971d-34ccd8c9deaa.png)

### Expec

[2020-02-21 03:12] babobski opened #3844 "Less and scss auto completions are broken"
### Short Summary
When working in less or scss files in K12 the auto completions are wrong.
The auto completions don't take in account you can nest selectors.

In K10:

![afbeelding](https://user-images.githubusercontent.com/3530262/75000825-cdd2ec00-545f-11ea-897e-23b629eb8768.png)

In K12:
![afbeelding](https://user-images.githubusercontent.com/3530262/75000841-dc210800-545f-11ea-91ce-7f3cfeb888

[2020-02-21 03:13] babobski commented on #3716
@th3coop this seems to be fixed in the latest.

[2020-02-21 03:27] ssigwart opened #3845 "PHP Interface Inheritance Completion Fails"
### Short Summary
Auto-completion fails for PHP interfaces that extend other interfaces.

### Steps to Reproduce
Try to autocomplete `varA1` in the last two lines.
[code]

### Expected results
Suggests `varA1`

### Actual results
Suggests `getA` and `getBaseA`

### Platform Information
Komodo Edit 11.2 (Custom build with some of my pull requests)
MacOS 10.15.3

[2020-02-21 18:56] th3coop commented on #3842
@JesperIRL this is perfect.  Thanks for the report.  100% reproducible with those steps.

[2020-02-21 19:08] th3coop commented on #3841
That might be related.  Just a heads up, fixing this will likely need to come from the underlying component that is the editor, Scintilla, which is a third party C++ Library.  If that's the column scintilla reports to us, we don't really have anyway to tell it that it's wrong.  Still worth investigating but I want to try and explain that this issue isn't as simple as you might think.

You'd need t

[2020-02-21 19:21] th3coop commented on #3441
@babobski adding templates for LESS and SCSS is a perfect candidate for a PR.  File Templates are in the Edit repo as well.  I can't prioritize this in my schedule.

Removing the step to provide the filename was done consciously.  That is working as expected.  You set the name and save location the first time you press *ctrl/cmd + s* after opening the template file.  Also, adding this back is not

[2020-02-21 19:37] th3coop commented on #3843
@babobski it's the white space I believe.  I'm seeing the same behavior in 12.0.1.  Not triggering on whitespace is part of the implementation I believe.

[2020-02-21 19:48] #3845 closed

[2020-02-21 22:35] will-ca opened #3847 "Jumping to already-open tab in other split view when opening file is annoying and makes it hard to work on multiple files."
### Short Summary

In most other editors I've used, opening a file always opens the file in whichever editor panel is currently active. This allows the user to explicitly control which files are open and where they are displayed, which makes it easy to, E.G., work on multiple files at the same time, or work on one part of a file while referring to a different part of the same file.

In Komodo,  us

[2020-02-21 22:43] will-ca opened #3848 "Default vertical split (I.E. horizontal panes) seems unorthodox and unhelpful?"
### Short Summary

Source code is usually organized by the line. Most coding guidelines put a maximum line length/width that should not be exceeded. Computer screens are almost always wider than they are tall. The bottom pane takes away more height than the side panes take away width. Most source code editors default to a horizontal split with vertical panes.

Needing to dig through the menus to f

[2020-02-22 17:42] Defman21 commented on #3843
@th3coop I'd expect auto-completions after completing another auto-completions, at least in CSS.

[2020-02-22 23:29] th3coop opened #3849 "Commando Shell scope fails when path has a space"
# Short Summary

I just tried to run a pip install command.  The pip in question lives in `C:\Program Files\...`.  The command fails with `C:\Program is not recognized as a...blah blah blah`.

### Steps to Reproduce

- Open Commando Shell scope, *[Ctrl | Cmd] + Shift + O* > Shell
- Execute a binary that you know has a path with a space in it
  - You could cp your pip binary to a path with a space

[2020-02-22 23:40] th3coop opened #3850 "Project Syntax Checking Prefs don't pickup Project language prefs"
# Short Summary

Using virtualenv I installed *pyflakes* in my project then tried to setup syntax checking.  It's using my global Python install to look for the pyflakes install

### Steps to Reproduce

- Setup virtualenv
- Set venv python.exe as your *Project Prefs > Languages > Python > interpreter*
- Open *Project prefs > Syntax Checking*

### Expected results

Should be using your `venv` inter

[2020-02-24 16:25] JesperIRL commented on #3841
Ok, fair enough.
I ran into some issues when building Mozilla. Created a new thread for that discussion: https://community.komodoide.com/t/failures-when-building-komodo-edit-from-source/4956

[2020-02-24 18:04] th3coop commented on #3847
@will-ca  I don't follow.  Can you write the repro steps using file names?  I do'nt know what file you're referring to when you say something like *Open the file through...*.  Using *a.txt* and *b.txt* or something.

Can you make the ticket more concise in general?  You've mentioned several issues in one ticket.  I know that at least one is not a bug but it's a small section of one of your paragra

[2020-02-24 18:09] th3coop commented on #3848
As a workaround you can open command (*Ctrl (Cmd) + Shift + O*) and search `cmd rotate` to quickly change this.  The change persists in your prefs so future split-views are opened horizontally split.

[2020-02-24 18:10] th3coop commented on #3843
@Defman21 I could see that but it's been like this since Komodo 11 and no one said anything, unless you're saying the behavior changed.

[2020-02-25 13:39] goozak commented on #1297
Lower case issue with "Go to Definition" is still present in 12.0.0.  Just an annoyance for me, though.

[2020-02-25 19:03] babobski commented on #3843
@th3coop there is a reason I'm still at V10. The other (s)css related issues made it impossible for me to switch to K11 or K12. That said when testing JS there was also a lot not working properly, I reported the bugs I ran in to at the moment but as I'm not working with it there is nothing to report.

I tried to work with K11, but the bugs made it impossible for me to make the switch.
Also there a

[2020-02-25 20:46] th3coop commented on #3843
Hey @babobski ,

Sounds like you're pretty upset about all this.  I'm sorry for that but lets keep this ticket on topic.  You could open a thread in the forums if you want to continue a discussion regarding the valid points you've mentioned above.  I'll address the point related to the ticket.

I thought we had a ton of tickets regarding this but I can't find ANY.  I know we had numerous reports o

[2020-02-26 23:43] th3coop opened #3851 "Windows: Komodo can't stop code intel sub process"
### Short Summary

This results in Komodo hanging as a background process for 15 seconds when you close Komodo.  This is due to the childprocess lib we use in Mozilla isn't complete.  Basically `process.kill` does nothing on Windows.

codeintel.process.stop needs to do the same thing we ended up doing in the state too integration to kill "edit scripts" processes:
Codeintel: https://github.com/Komo

[2020-02-27 05:26] babobski commented on #3844
Duplicate of #3263

[2020-02-27 05:26] #3844 closed

[2020-02-27 05:30] babobski commented on #3843
@th3coop sorry about the ranting, but I was just a bit disappointed in your answer.
That we have limited time to report a bug or else we have to accept it as as a feature.
The new line issue I'm familiar with #3297

Also:
#3263
#3452

[2020-02-27 22:40] th3coop commented on #3834
I was able to get the `$GOPATH/pkg` directory to build by manually setting `autobuild` to true in the terminal.  I didn't know this was a thing but I'm hoping this is as easy a fix as it seems...

[2020-02-28 22:12] th3coop opened #3852 "Go completions trigger or DON'T trigger oddly"
### Short Summary

Note in this gif they do NOT trigger after I've selected `parseo` and I press `.`.  I have to remove the `.` to "reset" completions or something:
![go-completions](https://user-images.githubusercontent.com/655154/75591348-5dfecb80-5a34-11ea-97b2-fc5252391e43.GIF)

Completions also trigger in odd contexts:
- after `;`
- after `{`
- after `(`
I'm sure there are others but...i'm no

[2020-02-28 23:11] buzz3791 commented on #1097
This issue makes Komodo very difficult to use.  Every time I debug my application, I accidentally cause the "Locals/Watch/Globals" pane to "disappear".  Is there any better workaround than starting a new debug session?

[2020-02-29 00:50] th3coop opened #3853 "ko/ui/radiogroup doesn't accept lists of strings like a menu can"
### Short Summary

And it SHOULD!  Am I right?

Try the following snippets in the Console.  This first fails:
[code]
But it shouldn't.  It works fine with `menulist`:
[code]

[2020-03-02 18:04] babobski commented on #3843
@th3coop I'm pretty upset of all this, it's just because I always loved developing addons and stuff. I supported K11 with almost all of my addons while I'm using K10, it feels a bit pointless to me to be supporting K12 as it look like it's still not up to the job.

I don't like ranting on the support forum (there is too much of it already), just wanted to make a personal note. I would love nothing

[2020-03-02 23:59] th3coop commented on #3843
I'm sorry you're upset, @babobski.  Hopefully the tickets can be looked at in the near future.

[2020-03-03 22:06] th3coop commented on #1097
Not that I'm aware of.  For how few people hit this, how easy it is to avoid doing it and how easy the workaround is, I would not expect this to get prioritized any time soon.

[2020-03-04 07:03] babobski opened #3854 "Packages manager is missing option to disable addon"
### Short Summary
In the "new" package manager is missing the option to disable addons.

### Steps to Reproduce

### Expected results
There would be a option to disable the addon

### Actual results
The option is missing

### Additional Information
Workaround: Use the old legacy addon manager, as the option is present here

[2020-03-05 18:15] th3coop commented on #1536
^^ Deleted spam.

[2020-03-06 17:36] th3coop commented on #3854
If you're referring to addons that ship with Komodo then that's by design.

[2020-03-11 04:44] babobski commented on #3854
No it used to be a option for all addons:

![afbeelding](https://user-images.githubusercontent.com/3530262/76383200-522bd700-635b-11ea-8c3f-e34967837236.png)

I had a addon I wanted to disable for a short period.

[2020-03-11 16:46] th3coop commented on #3854
Ahh you want to be able to do that for addons you've installed.  I see.  Makes sense.

[2020-03-16 06:52] dyeske opened #3855 "Please add ssh terminal support"
Please add remote ssh terminal support so that a user can edit remote files as well as open a shell on that system within a tab.

[2020-03-16 19:01] th3coop commented on #3855
You can already do this by opening a remote folder: http://docs.activestate.com/komodo/11/manual/files.html#opening-remote-files

On Linux and OSX you can probably do this in the cmd output tab: *View menu > Tabs & Sidebars >    Command Output* and run an ssh connection cmd, as a work around.

[2020-03-17 11:55] Undefined-Variables commented on #2009
I've got this same problem

K11,
Windows 10,
 64bit,
 16GB Ram,

Annoying as hell, its stuck on the wrong screen and will not budge no matter what I do! Don't really want to reinstall as would take a day to reinstall everything and set up servers again... Major headache!

[2020-03-17 11:56] Undefined-Variables commented on #2009
Sorry I found issue View -> Full Screen

[2020-03-17 14:28] DarthGaymer opened #3856 "Error attempting to save [file name]: Bad file descriptor"
### Short Summary
I am currently unable to save any of my .xml projects to my C: drive as I get the following error message. This issue is persistent when working with all file sizes, 30KB to 1140KB.

 Looking at the log file, see below, it appears that Komodo Edit is trying to add to backlashs everywhere possible.

![image](https://user-images.githubusercontent.com/62295415/76865606-f4066480-6830

[2020-03-18 09:18] niki-sp commented on #3564
When Symbol Browser is single window clocking on tab "Symbol Browser" is required to display all symbols.

[2020-03-20 21:05] th3coop commented on #2009
Take a day to reinstall Komodo?

[2020-03-20 23:14] th3coop commented on #3856
@DarthGaymer share the actual log file please.

Not sure what you mean here unless you're referring to escaping of backslashes in Windows paths?  eg. C:\\blah\\foo\\something.xml. That's normal otherwise your path would be full of escape sequences.

[2020-03-21 16:43] PeterMortensen opened #3857 "Shortcuts for quick bookmark "7" and quick bookmark "0" conflicts with other functions"
### Short Summary

Two of the keyboard shortcuts for quick bookmarks, <kbd>Ctrl</kbd> + <kbd>Shift</kbd>  + <kbd>7</kbd> and <kbd>Ctrl</kbd> + <kbd>Shift</kbd>  + <kbd>0</kbd> does not set the expected bookmark. Instead, some line outcommenting and zooming happen, respectively.

This was tried in a file with file extension ".js" and can also be reproduced when trimmed down to a single line.

### S

[2020-03-23 12:54] DarthGaymer commented on #3856
@th3coop Below is the log file.  The error I am getting starts on line 124.  If you look at the file path, there appears to be a doubling of all backslashes.

[pystderr.log](https://github.com/Komodo/KomodoEdit/files/4369408/pystderr.log)

[2020-03-23 16:34] th3coop commented on #3857
Have you confirmed that they haven't been changed in your keybinding prefs?

[2020-03-23 16:35] th3coop commented on #3857
*Edit menu > Preferences > Keybindings*

[2020-03-23 16:43] th3coop commented on #3856
The doubling backslash is normal.  I fixed my previous comment to show my example properly.  The backslashes need to be escaped otherwise they will create an escape sequence with the letter following them.

Have you tried a restart of Komodo?

btw, whatever you're working on looks like it will be pretty awesome.

[2020-03-23 17:27] DarthGaymer commented on #3856
I have tried restarting Komodo, reinstalling Komodo, and updating Windows 10.

[2020-03-23 18:07] th3coop commented on #3856
@DarthGaymer what happens if you try to open that path in File Explorer?

[2020-03-23 18:18] DarthGaymer commented on #3856
Using C:\\Users\\ryheiderscheit\\iCloudDrive\\Desktop\\D&D\\D&D App Files\\Items\\Magic Items 5.3.xml, Windows throws the following error message:

![image](https://user-images.githubusercontent.com/62295415/77349298-ce81cb00-6d08-11ea-872e-f286c287e55f.png)

Using C:\Users\ryheiderscheit\iCloudDrive\Desktop\D&D\D&D App Files\Items, the file path opens as expected.

[2020-03-24 01:48] PeterMortensen commented on #3857
It was the out-of-the-box experience, right after installation. I haven't changed any configuration (except perhaps answering startup/one-time questions). "Keybinding scheme" is set to "Default".

Do you mean you couldn't reproduce the problem?

[2020-03-24 01:52] PeterMortensen commented on #3857
I don't know if it is relevant, but in the terminal window at startup there is output:

    (process:20291): GLib-CRITICAL **: 02:42:49.411: g_slice_set_config: assertion 'sys_page_size == 0' failed

[2020-03-24 23:53] th3coop commented on #3856
We need to figure out what might be wrong with your computer.  The code that you're hitting, EVERYONE hits when they save a file.  If this was a problem in Komodo then no one could save a file.  It might still be Komodo, but there is something unique about your setup that's triggering this so we need to figure out what that thing is.

@DarthGaymer can you try restarting Komodo in safe mode, *Help

[2020-03-25 00:07] th3coop commented on #3857
No, i can't reproduce the issue.  I don't think the GLib output or memory availability is relevant here.  It the former were an issue Komodo would likely not start.  The latter would just result in a slow Komodo, not keybindings misfiring.

Can you double check your keybindings in your prefs?  The actions your described are not the default keybindings.  Maybe they changed somehow but I'd like to n

[2020-03-25 16:48] DarthGaymer commented on #3856
@th3coop Turns out this was just a symptom of a bigger issue.  Last night iTunes began having issues writing data as well.  Turns out that the drive permissions got royally messed up.  Ended up having to do a clean install of Windows and all other programs which resolved the issue.

[2020-03-25 16:48] #3856 closed

[2020-03-25 16:57] th3coop commented on #3856
Well I'm glad I could be a part of helping you get this figured out, not that I helped that much!  Best of luck with what you're working on.  Looks cool.

[2020-04-01 19:04] kjarex commented on #337
Are there any news about this "enhancement" being possibly seen as a bug?

[2020-04-01 23:26] th3coop commented on #337
To clarify, I didn't say we don't support NTFS.  I meant we don't support the elusive and relatively unknown ADS.

You're right that losing data shouldn't be tolerated and thankfully it was a very easy fix.

I will provide a link to download a nightly build that will be available by 12 noon pst tomorrow.

[2020-04-02 13:57] jbullock35 opened #3858 "SQL/mySQL syntax highlighting treats comments beginning with hash mark (#) as normal code"
### Short Summary
In mySQL, there are [three ways to create comments](https://dev.mysql.com/doc/refman/8.0/en/comments.html). One way is to add a hash mark (#) to a line; everything on the line on the hash mark is a comment. But in Komodo IDE 12.0, the characters after the hash mark are highlighted as though they are normal SQL code, not comments. This is so for both the SQL and mySQL file types.

[2020-04-02 18:47] th3coop commented on #3858
Taking a look. If it's as easy as adding `#` to the MySQL language file then i'll push a fix otherwise it'll be a UDL change and I can't take that on right now.

[2020-04-02 18:52] th3coop commented on #337
Nightly will be available here at 12 noon pst: http://downloads.activestate.com/Komodo/nightly/komodoide/

[2020-04-03 17:26] th3coop commented on #3858
@jbullock35,  Unfortunately it wasn't as easy a as I'd hoped it would be. I'm not going to be able to get to fixing this properly for now.

[2020-04-03 20:17] jbullock35 commented on #3858
@th3coop, I understand -- thank you for taking a look.

[2020-04-06 15:41] crigoda opened #3859 "Enhancement: Update Python syntax checking with flake8"
Hello !

Since some years, flake8 is a good replacement to pep8 and pyflakes.
Please add flake8 support to Komodo Edit.

https://pypi.org/project/flake8/

Thank you.

[2020-04-07 10:22] crigoda opened #3860 "Python Syntax Checking: pep8 does not work with Python 3.7 on Linux"
Hi,

Running Python syntax checking with Komodo Edit on Linux Debian Buster, I get this error:

[code]

And so, syntax errors are not showned.

[2020-04-14 21:26] Holerim opened #3862 "Mozilla build error Linux gcc-8"
### Short Summary
Mozilla throws error with default gcc version 8.
`error: ‘bad_alloc’ in namespace ‘std’ does not name a type`

### Steps to Reproduce
`sudo apt install gcc`
`git clone https://github.com/Komodo/KomodoEdit.git`
`cd KomodoEdit/mozilla`
`python build.py configure -k 12.10`
`python build.py all`

### Expected results
build successfully

### Actual results
headache

### Platform Infor

[2020-04-20 16:18] #3768 closed

[2020-04-20 16:49] th3coop commented on #3862
@Holerim sorry if I gave the impression that this would get fixed.  Komodo runs on an older version of Mozilla which for multiple reasons, we have no plans to upgrade. You need to use the recommended gcc.

[2020-04-20 16:49] #3862 closed

[2020-04-20 17:11] #3860 closed

[2020-04-20 18:36] th3coop commented on #547
I think this commit must resolve this ticket: https://github.com/Komodo/Komodoide/commit/b41deef16

[2020-04-20 18:36] #547 closed

[2020-04-24 20:14] mjross opened #3864 "HTML folding for lowercase <dl> not working (except for lowest level elements)"
### Summary
In HTML files, "DL" elements (e.g., `<DL>`) that have child "DL" elements nested within them, will only respond correctly to the folding/unfolding (collapse/expand) mouse click commands if the element name "DL" is uppercase, but not if it is lowercase, which violates the fundamental HTML syntax that the element names of open tags and self-closing tags should be case insensitive.

### S

[2020-04-24 21:03] dbotham commented on #3489
Not to raise a dead horse, but, I am running Komodo IDE, version 12.0.1, build 91869, and the left margin allows me to select only a single line.  Cannot select a block of lines like before... (I would love for someone to slap me on the forehead on this one) Not useful. I grab chunks of lines all the time.  A complete rational and write should be required before allow someone to code out of existe

[2020-04-24 21:08] dbotham commented on #3786
How did a complaint about not be able to "select lines" turn into fix for "Select line"?

Here, the plural sense of the word is actually important.  Any chance we can add the 's' back onto lines?

[2020-04-24 21:21] th3coop commented on #3489
@dbotham What's preventing you from selecting the lines in the editor?  I don't understand the issue.

[2020-04-24 21:57] jimtut commented on #3489
@dbotham, I was just thinking of leaving the same feedback!

I gave up on Komodo 11 because you couldn't select a line of text by clicking in the left margin.  I stuck with Komodo 10 for years because of this.  I was SO glad to see it come back in Komodo 12, but you're right, they missed a key feature.

Without trying to record a movie of my screen, let me explain what EVERY single other editor I'

[2020-04-24 22:06] dbotham commented on #3489
The source code, I would imagine...

- Click in left margin => line is selected
- Hold mouse button down and drag down => original (single) line stays seleted

I.e. cannot select lines (notice the 's') from the left margin... Just a single line... Not useful.

I can understand choices need to be made about how the left margin can be used, but, dropping drag select?  That has to be a mistake. The "

[2020-04-24 22:12] th3coop commented on #3489
Oh yep, you guys are correct #3786 shouldn't close this.

[2020-04-26 15:03] Laniture opened #3865 "Can't save if new file is smaller than old one."
### Short Summary
When i try to save any file that's smaller than the old one the last characters repeat to keep the same file size .

### Steps to Reproduce
Enter `123456789` in editor
Erase `6789`
Save

### Expected results
Saved file contains `12345`

### Actual results
Saved file contains
[code]

### Platform Information
Komodo Edit Latest commit d007808

Debian Buster
https://github.com/Lanit

[2020-04-27 16:43] th3coop commented on #3864
Thanks for filing, @mjross.

[2020-04-27 16:49] th3coop commented on #3865
I can't reproduce this.

@Laniture can you try this in safe mode?   *Help menu > Troubleshooting > Restart in Safe-Mode*

There's nothing significant in the logs that would tells us what's going on here.

[2020-04-27 16:56] mjross commented on #3864
No problem, @th3coop, and I hope everyone in your family and the Komodo community are doing well during this pandemic.

[2020-04-27 17:18] th3coop commented on #3864
Same to you @mjross.  Stay safe and healthy, please and thank you!

[2020-04-27 18:04] Laniture commented on #3865
@th3coop Same in safe mode, but i found the log file. https://ghostbin.tech/paste/97mrx

[2020-04-30 14:57] maheshwar404 opened #3866 "Failed to start codeintel"
### Short Summary

### Steps to Reproduce

### Expected results

### Actual results

### Platform Information

*Komodo Edit or IDE?*
*Komodo Version?*
*Operating System (and version)?*

### Additional Information

[2020-04-30 21:27] Laniture commented on #3865
@th3coop
Sorry i should have specified that i am using a build from source.

Made a build script for you.
https://github.com/Laniture/Komodo-Build-Script

[2020-05-04 17:58] th3coop opened #3868 "Language icons cut off in symbol browser"
### Short Summary

Symbol browser icons are cut off on the bottom, in the symbol browser

### Steps to Reproduce

Open the symbol browser and look at it.

Ref:  https://community.komodoide.com/t/ide-v12-symbol-browser-rows-clipped/5057/3

[2020-05-04 19:37] th3coop commented on #3866
Please fill the appropriate fields.

[2020-05-04 19:37] #3866 closed

[2020-05-04 19:47] th3coop commented on #3865
@Laniture anything in the logs?  *Help > Troubleshooting > View Log file*

[2020-05-05 18:15] Laniture commented on #3865
Mozilla build log (13k lines).
https://file.io/nQ5oTAv7

Komodo log.
https://ghostbin.tech/paste/c86uk/raw

The package from your website works fine. But i get the issue even when i build it in your docker then `bk package aspackage` and run it outside.

Dockerfile
https://ghostbin.tech/paste/dkrxv/raw

[2020-05-06 01:55] jshrek opened #3871 "JSX highlighter incorrectly matches brace when {{double curly braces are present}}"
# Short Summary
JSX highlighter incorrectly highlights/matches brace when there are {{double curly braces}} in the code.

I have the following sample code with {{double curly braces}} and the highlighter works incorrectly when trying to find the matching brace.

So in the example below, if I go to the very last } curly brace at bottom, it is supposed to match with the { brace on this line: export

[2020-05-06 08:43] npandey2385 commented on #3602
Do not install Komodo in a path that contains spaces or non-alphanumeric characters. In my path I am using "-" that's the reason getting this issue.

[2020-05-06 08:43] #3602 closed

[2020-05-06 15:22] rfoxkendo commented on #506
This problem appears to still be present in Komodo IDE, version 12.0.1, build 91869, platform win32-x86.
Built on Mon Feb 10 18:14:23 2020.

The longer I run Komodo IDE the more likely this is to happen.

[2020-05-08 17:21] Laniture commented on #3865
I found the code that's causing the problem. It seems like the official build have this difference compared to the repo. https://github.com/Komodo/KomodoEdit/blob/master/src/views/koDocument.py

[code]

When i make this change to my local build the issue is gone.

[2020-05-12 00:16] networks1 opened #3873 "Komodo executes script other than show in current tab"
### Short Summary
When working with several open tabs, executing a script runs a script other than the one with the focus.  Normally this happens with a tab that has been recently run, however today it ran a script that wasn't even in an open tab.

### Steps to Reproduce
Use Komodo with lots of tabs open and run a script.

### Expected results
The script in the selected tab runs.

### Actual resul

[2020-05-13 19:36] Laniture commented on #3111
I'm having the same issue on Linux.  https://github.com/Komodo/KomodoEdit/issues/3111#issuecomment-332617911 Fixed it.

I used.
[code]
<br>

Probably unrelated warning.
[code]
Dockerfile to replicate. https://ghostbin.tech/paste/dkrxv/raw

[2020-05-20 00:12] th3coop commented on #3602
This is not true.  Spaces and non-alphanumeric chars don't effect Komodos run time.  There might be an edge case but `-` isn't it.  That install path is highly suspect.  How did you install Komodo?

[2020-05-20 00:52] th3coop commented on #3865
@Laniture the `rb+` code is released and no one else if having an issue.  Can you please try installing the official release rather than a local build and try to reproduce the issue?

[2020-05-20 10:15] npandey2385 commented on #3602
I got this info from the below site under "Installing Komodo on Linux"

http://docs.activestate.com/komodo/11/get/linux/

I used the command ./install.sh to install the Komodo. During installation I didn't see any issue as well.

[2020-05-21 19:14] Laniture commented on #3865
@th3coop i can reproduce the issue with the official release.

[code]

[2020-05-24 07:51] aks2161989 commented on #125
I am facing the same problem in Komodo Edit 12 on Windows 10. There is no auto-completion for "console".

[2020-05-26 22:32] AlfonsoPonchio opened #3874 "internal komodo error"
### Short Summary
an error in komod when open, failed to start komodo intel

### Steps to Reproduce
only start komodo

### Expected results

### Actual results
2147500037 (NS_ERROR_FAILURE)

Komodo Edit, version 12.0.1, build 18441.
Built on Tue Feb 11 04:14:27 2020.

### Platform Information

*Komodo Edit or IDE?*  komodo edit
*Komodo Version?*  12.0.1 bulit 18441
*Operating System (and version)?

[2020-05-26 23:17] th3coop commented on #3602
Thanks for clarifying @npandey2385 .  Have you tried reproducing your claim that special characters broke it?   I'm leaning more towards something corrupting the installer during download or at some other step.  I'd say anti virus but you're not on Windows so that's not likely.  If you download the installer again and run it, installing in the same path, do you get the same error?

[2020-05-27 04:39] jshrek opened #3875 "List of doCommands not available"
List of doCommands no longer available (blank page).

Go here and see that no doCommands are listed:
http://docs.komodoide.com/SDK/commandid

Did much googling but this was the only link I could find related to doCommands for Komodo Edit userscripts.

*Komodo Edit v12.0.1 on Windows 10

[2020-06-01 19:07] th3coop opened #3876 "Komodo Python debugger excessively slow when loading large libraries"
### Steps to Reproduce
- setup an env where you have `arcgis` installed for python.  Can be installed with `pip install arcgis`
-  debug the following code
[code]

### Expected results

`Hello world!` to print in a relatively short period of time, a few seconds.

### Actual results

- It takes over a minute for the print to execute.

[2020-06-01 21:40] th3coop commented on #337
As I had worried, that caused issues across the board.  I don't have time to look at another fix for this.  If someone comes up with something else, feel free to submit a PR.

[2020-06-01 21:41] th3coop commented on #337
I've reverted the change and will delete the nightly.  For references, it caused: https://github.com/Komodo/KomodoEdit/issues/3865

[2020-06-01 21:44] th3coop commented on #3865
Ahh this is released in a nightly.  That's why no one is hitting it.  That change was for https://github.com/Komodo/KomodoEdit/issues/337.  I see my mistake though. `w` mode always truncates the file.  `r` opens the file with the file pointer at the start of the file and leaves the existing content.  We're just overwriting the beginning of the file.

I've revert the change.  I investigated options

[2020-06-01 21:44] #3865 closed

[2020-06-01 22:26] th3coop commented on #3874
Not sure what you're reporting.  Please fill out all requested fields fully.

[2020-06-01 22:26] #3874 closed

[2020-06-01 22:26] th3coop commented on #3865
This will be fixed in a nightly tomorrow and if you pull in master you'll get the fix @Laniture.

Thanks for reporting.

[2020-06-01 22:43] th3coop commented on #3875
Well that's annoying.  For now here's some code that could allow you to print this info for yourself from a Userscript:

[2020-06-02 21:51] th3coop opened #3877 "Update SSO service to use platform.as.com"
### Short Summary

When you enable and try to login to collaboration in Komodo it is authenticating against account.activestate.com.  It should use platform.activestate.com now.

[2020-06-05 19:23] th3coop opened #3878 "Komodo SSO signin is broken"
### Short Summary

You can't login to Collaboration any more.  There's no error.  It just response with nothing.

Here's some gross, hacked together test code:
[code]

[2020-07-06 04:57] Maximum33 opened #3879 "HTML Bug"
### Short Summary
Example code
<sup class="SPR">12:34</sup>
If I highlight the "4" and type another number to replace it (it doesn't matter what number), the "1" will change to the same number.
It doesn't happen every single time, but often.

### Steps to Reproduce
Here is the CSS code
.SPR {
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	font-weight: 500;
}
.BibleTextSB {
	margin-top: 4px;

[2020-07-06 17:23] th3coop commented on #3879
WOW, what a bizarre bug!  Nice find @Maximum33.  Thankfully it's easy to disable this in prefs, *Edit menu > Preferences > Editor > Smart Editing: Edit matching delimiter on select*.  Disable that preference.

[2020-07-06 17:29] Maximum33 commented on #3879
Thank you!

On Mon, Jul 6, 2020, 10:23 AM Carey Hoffman <notifications@github.com>
wrote:

[2020-07-25 10:10] vilu85 commented on #3432
I'm having almost the same problem here. After renaming some files Komodo can't find functions or classes, instead it asks "The file C:\users\*****\project\original_filename.php does not exist. Do you want to create it?", where the 'original_filename.php' is the filename before I renamed it. Same thing happens if I move files from a folder to the another. I wish there was a way to purge or rebuild

[2020-07-28 18:59] th3coop commented on #3432
@vilu85, *Help > troubleshooting > Reset Codeintel Database* should do that.

[2020-08-02 15:57] Undefined-Variables commented on #2009
Not the install but adding the remote servers would take a long while... Maybe not a day but a good mornings work!

[2020-08-10 18:35] leon-id commented on #3443
Hi! Still having the same issue running Komodo IDE, version 12.0.1, build 91869, platform linux-x86_64, built on Mon Feb 10 19:37:24 2020 on Ubuntu 20.04 and Python 3.8.2
The code snippet from https://docs.aiohttp.org/en/stable/client_reference.html can be used for reproducing inappropriate behaviour:

`
import aiohttp
import asyncio

async def fetch(client):
    async with client.get('http://pyth

[2020-08-10 19:37] leon-id opened #3880 "CodeIntel on Komodo IDE 12.0.1 fails when using python3 `with some_context(f"some_f_string_as_parameter")`"
### Short Summary
Codeintel fails when it locates f-string passed as context parameter of `with context(some_parameter)`.

### Steps to Reproduce
Last two lines of the following code make codeintel to fail, leading to 'no symbols found' message in Symbol Browser
[code]

### Expected results
CodeIntel to show me symbols

### Actual results
No symbols found.

### Platform Information
*Komodo Edit or

[2020-08-13 22:15] shoorick opened #3881 "Classic interface has small buttons that are smaller than text and icons in these buttons"
### Short Summary

Some buttons in Classic interface mode has small height which is unsufficient for icons and text of these buttons.

### Steps to Reproduce

Preferences (Ctrl+,) → Appearance → _check_ Enable classic mode

### Expected results

Buttons with sufficient height.

### Actual results

Buttons are small.

### Platform Information

Komodo IDE, version 12.0.1, build 91869, platform linux

[2020-08-14 21:35] Kakiking opened #3882 "Issue when trying to compile on raspbian buster"
I got an Issue when trying to compile KomodoEdit on Raspbian Buster, see Steps to reproduce for the commands I used, see adittional Information for the error

### Steps to Reproduce

run:
[code]
git clone https://github.com/Komodo/KomodoEdit.git --branch master --single-branch --depth 1
cd KomodoEdit/mozilla
python build.py configure --gcc gcc --gxx g++-4.9 -k 12.10
[code]
pi@raspberrypi:~/github

[2020-08-14 22:06] Kakiking commented on #3882
ok, got it, I had to use python2 instead of python, but I still have an error:
[code]

[2020-08-17 18:47] Laniture commented on #3882
@Kakiking  I'm not sure if it's even possible to get it to work on arm. But if you really want to try.

This is the file throwing the error [KomodoEdit//util/platinfo.py](https://github.com/Komodo/KomodoEdit/blob/master/util/platinfo.py#L418)
You could try to replace
`raise InternalError("unknown Linux architecture: '%s'" % arch)` line 418
with
`self.arch = "armv7l"`
or
`self.arch = "x86"`

[2020-08-17 19:53] th3coop commented on #3880
Thanks for the report @leon-id.

[2020-08-17 19:55] th3coop commented on #3881
Yikes.  Could you try **Help menu > Troubleshooting > Restart in Safe-mode** just to make sure there isn't something being brought over from a previous install?

[2020-08-17 20:00] th3coop commented on #3882
We haven't put any effort into getting Komodo building on Arm processors.  @Laniture's suggesting seems like a good start but expect to more hacks to get this working!

[2020-08-19 19:08] shoorick commented on #3881
I see modern interface with fine buttons

![Startup](https://user-images.githubusercontent.com/190892/90679001-f86bf900-e278-11ea-9a9a-903b404de286.png)

I click to main window and call Preferences dialog (Ctrl+,) then I toggle to classic mode

![Preferences](https://user-images.githubusercontent.com/190892/90678666-695ee100-e278-11ea-8312-1f64fcdde1d1.png)

And now I see ugly buttons again

![Ugl

[2020-08-20 18:17] th3coop commented on #3881
@shoorick, thanks for checking.  This is likely due to your GTK theme not playing nice with the Classic theme.  You'll either have to use the official GTK release (if you're not already) or just not use classic mode for now.